
{% extends "common/template.njk" %}
{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span><br/>
<div class="govuk-body-m"> {{courtcommunication}} </div>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
{% endblock %}
