{% extends "common/template.njk" %}xw


{% block backLink %}{% endblock %}
{% block page_contact_us %}
{% endblock %}

{% block page_content %}
<span class="govuk-caption-l">{{caption}}</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{headingTitle}}</h1>
<p class="govuk-body-m">{{para1}}</p>
<p class="govuk-body-m">{{para2}}</p>
{% endblock %}
