
{% extends "common/template.njk" %}


{% block page_content %}
  <div class="govuk-form-group">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{section}}</span>
      {{line1}}
    </h1>
    <p class="govuk-body">{{line2_1}}<a href="#">{{line2_2}}</a></p>
    <p class="govuk-body">{{line3}}</p>
  </div>
{% endblock %}