{% extends "common/template.njk" %}
{% block page_content %}
<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
<span class="govuk-caption-l">{{caption}}</span>
{{title}}</h1>
<p class="govuk-body"> {{lines}}</p>
<h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{subtitle}}</h2>
{% endblock %}