{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">{{ websiteRanBy }}</p>
  <p class="govuk-body">{{ asManyAsPossible }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ asManyAsPossibleColours }}</li>
    <li>{{ asManyAsPossibleZoom }}</li>
    <li>{{ asManyAsPossibleKeyboard }}</li>
    <li>{{ asManyAsPossibleSpeech }}</li>
    <li>{{ asManyAsPossibleListen }}</li>
  </ul>
  <p class="govuk-body">{{ simpleAsPossible }}</p>
  <p class="govuk-body">{{ abilityNet | safe }}</p>

  <h3 class="govuk-heading-s">{{ howAccessible }}</h3>
  <p class="govuk-body">{{ somePartsNot }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ somePartsNotReflow }}</li>
    <li>{{ somePartsNotSpacing }}</li>
    <li>{{ somePartsNotFooter }}</li>
  </ul>

  <h3 class="govuk-heading-s">{{ feedbackAndContactInformation }}</h3>
  <p class="govuk-body">{{ needMoreInformation }}</p>
  <p class="govuk-body">{{ email | safe }}</p>
  <p class="govuk-body">{{ phone }}</p>
  <p class="govuk-body">{{ considerYourRequest }}</p>

  <h3 class="govuk-heading-s">{{ reportingAccessibility }}</h3>
  <p class="govuk-body">{{ improveAccessibility | safe }}</p>
  <p class="govuk-body">{{ email | safe }}</p>
  <p class="govuk-body">{{ accessibilityPhoneNumber }}</p>

  <h3 class="govuk-heading-s">{{ enforcementProcedure }}</h3>
  <p class="govuk-body">{{ humanRightsCommission | safe }}</p>
  <p class="govuk-body">{{ notHappy | safe }}</p>

  <h2 class="govuk-heading-m">{{ contactingUs }}</h2>
  <p class="govuk-body">{{ contactTextRelay }}</p>
  <p class="govuk-body">{{ contactInductionLoops }}</p>
  <p class="govuk-body">{{ contactCourtDirectly | safe }}</p>
  <p class="govuk-body">{{ email | safe }}</p>
  <p class="govuk-body">{{ phone }}</p>

  <h2 class="govuk-heading-m">{{ technicalInfo }}</h2>
  <p class="govuk-body">{{ hmctsIsCommitted }}</p>

  <h2 class="govuk-heading-m">{{ complianceStatus }}</h2>
  <p class="govuk-body">{{ partiallyCompliant | safe }}</p>

  <h2 class="govuk-heading-m">{{ nonAccessibleContent }}</h2>

  <h3 class="govuk-heading-s">{{ issuesWithDocuments }}</h3>
  <p class="govuk-body">{{ issuesWithDocumentDescription1 }}</p>
  <p class="govuk-body">{{ issuesWithDocumentDescription2 }}</p>
  <p class="govuk-body">{{ issuesWithDocumentDescription3 }}</p>
  <p class="govuk-body">{{ issuesWithDocumentDescription4 }}</p>
  <p class="govuk-body">{{ issuesWithDocumentDescription5 }}</p>
  <p class="govuk-body">{{ issuesWithDocumentDescription6 }}</p>

  <h2 class="govuk-heading-m">{{ otherKnownIssues }}</h2>
  <p class="govuk-body">{{ knownIssues1 }}</p>
  <p class="govuk-body">{{ knownIssues2 }}</p>
  <p class="govuk-body">{{ knownIssues3 }}</p>
  <p class="govuk-body">{{ knownIssues4 }}</p>

  <h2 class="govuk-heading-m">{{ toImproveAccessibility }}</h2>
  <p class="govuk-body">{{ improveAccessibilityDescription }}</p>

  <h2 class="govuk-heading-m">{{ preparationAccessibilityStatement }}</h2>
  <p class="govuk-body">{{ statementPreparationDate }}</p>
  <p class="govuk-body">{{ statementPreparationWebsite }}</p>
  <p class="govuk-body">{{ dacExcerpt }}</p>

  <h3 class="govuk-heading-s">{{ dacTestingProcedure }}</h3>
  <p class="govuk-body">{{ dacTestingProcedureDescription }}</p>

  <h3 class="govuk-heading-s">{{ dacTestingProcedure2 }}</h3>
  <p class="govuk-body">{{ dacTestingProcedureDescription2 }}</p>

  <h3 class="govuk-heading-s">{{ dacTestingProcedure3 }}</h3>
  <p class="govuk-body">{{ dacTestingProcedureDescription3 }}</p>

  <p class="govuk-body govuk-!-font-weight-bold">{{ contactHelp }}</p>
  <p class="govuk-body">{{ email | safe }}</p>
  <p class="govuk-body">{{ accessibilityPhoneNumber }}</p>
{% endblock %}
