{% extends "common/page.njk" %}

{% block page_content %}

   {% macro generateBulletList(items, listClass="govuk-list govuk-list--bullet") %}
  <ul class="{{ listClass }}">
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endmacro %}

  <h1 class="govuk-heading-l">{{ title }}</h1>
    {% for paragraph in paragraphs %}
  <p class="govuk-body">{{ paragraph | safe }}</p>
    {% endfor %}
  <ul class="govuk-list govuk-list--bullet">
  {% for option in accessibilityOptions %}
    <li>{{ option }}</li>
     {% endfor %}
    </ul>
  {% for paragraph in additionalParagraphs %}
  <p class="govuk-body">{{ paragraph | safe }}</p>
  {% endfor %}

   <h2 class="govuk-heading-s">{{ howAccessible }}</h2>
  <p class="govuk-body">{{ somePartsNot }}</p>
  <ul class="govuk-list govuk-list--bullet">
  {% for part in notAccessibleParts %}
    <li>{{ part }}</li>
  {% endfor %}
    </ul>

  <h2 class="govuk-heading-s">{{ feedbackAndContactInformation }}</h2>
  {% for info in contactInfo %}
    <p class="govuk-body">{{ info }}</p>
  {% endfor %}
  {{ generateBulletList(phoneAndEmail) }}

  <p class="govuk-body">{{ considerYourRequest }}</p>

  <h2 class="govuk-heading-s">{{ reportingAccessibility }}</h2>
  {% for improvement in improvements %}
    <p class="govuk-body">{{ improvement }}</p>
  {% endfor %}
  {{ generateBulletList(phoneAndEmail) }}

  <h2 class="govuk-heading-s">{{ enforcementProcedure }}</h2>
  {% for info in humanRightsInfo %}
    <p class="govuk-body">{{ info | safe }}</p>
  {% endfor %}

  <h2 class="govuk-heading-m">{{ technicalInfo }}</h2>
  <p class="govuk-body">{{ hmctsIsCommitted }}</p>

  <h2 class="govuk-heading-m">{{ complianceStatus }}</h2>
  <p class="govuk-body">{{ partiallyCompliant | safe }}</p>

  <h2 class="govuk-heading-m">{{ nonAccessibleContent }}</h2>
  <p class="govuk-body">{{ nonAccessibleDescription }}</p>

  <h3 class="govuk-heading-s">{{ issuesWithDocuments }}</h3>
  {% for issue in issuesWithDocumentDescriptions %}
    <p class="govuk-body">{{ issue }}</p>
  {% endfor %}

  <h3 class="govuk-heading-m">{{ thirdPartyContent1 }}</h3>
  <h3 class="govuk-heading-s">{{ thirdPartyContent2 }}</h3>

  <p class="govuk-body">{{ thirdPartyContent3 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for content in thirdPartyContentDescriptions %}
      <li>{{ content }}</li>
    {% endfor %}
  </ul>

  <h2 class="govuk-heading-m">{{ toImproveAccessibility }}</h2>
  <p class="govuk-body">{{ improveAccessibilityDescription }}</p>

  <h2 class="govuk-heading-m">{{ preparationAccessibilityStatement }}</h2>
  {% for detail in statementPreparationInfo %}
    <p class="govuk-body">{{ detail }}</p>
  {% endfor %}
{% endblock %}

