{% extends "common/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block page_content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    <span class="govuk-caption-l">{{caption}}</span>
      {{title}}</h1>

    <p class="govuk-body-m">{{paragraph1}}
    </p>
    <p class="govuk-body-m">{{paragraph2}}
    </p>
    <p class="govuk-heading-m">{{paragraph3}}
    </p>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ text }}</h2>
    {% for abuseReason in listOfAbuseReasons %}
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ abuseReason.abuseEvidenceType }}</li>
        {% if abuseReason.abuseEvidenceReasons %}
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        {% for evidence in abuseReason.abuseEvidenceReasons %}
          <li>{{ evidence }}</li>
        {% endfor %}
      </ul>
      </ul>
        {% endif %}
    {% endfor %}

    {% for nonda in nonDA %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ nonda.heading }}</h2>
    {% if nonda.heading %}
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
          <li>{{ nonda.subHeading }}</li>
          {% if nonda.bullet %}
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
          <li>{{ nonda.bullet }}</li>
        </ul>
        {% endif %}
      </ul>
      
      {% endif %}
    {% endfor %}

</br>

  {% endblock %}
