{% extends "common/template.njk" %}
{% block page_content %}
<span class="govuk-caption-l">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ title }}</h1>
<p class="govuk-body">{{line1}}</p>
<p class="govuk-body">{{line2}}</p>
{% endblock %}