{% macro fileUpload(params) %}           
<div class="govuk-form-group govuk-inset-text">
 <form action="{{params.formPostEndpoint}}?_csrf={{ param.csrfToken }}" method="post" enctype="multipart/form-data">

      {{ govukFileUpload({
  id: "document",
  name: "documents",
  classes: "govuk-!-margin-bottom-3",
  label: {
    text: "Upload a file"
  }
}) }}
  {{ govukButton({
          text: uploadButton,
          type: "upload document",
          classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk--custom__button"
        }) }}

</form>
{% endmacro %}