{% extends "common/summary/template.njk" %}
{% block page_content %}
  {% if section %}
    <span class="govuk-heading-l">{{ section }}</span>
  {% endif %}
  {% if title %}
    <h1 class="govuk-caption-m govuk-!-margin-bottom-2">{{ title }}</h1>
  {% endif %}
  {% if line1 %}
    <div class="govuk-hint">{{ line1 }}</div>
  {% endif %}
  {% if line2 %}
    <p class="govuk-body">{{ line2 }}</p>
  {% endif %}
{% endblock %}

{% block form %}
  {% include "common/summary/form.njk"%}
  {% block after_fields %}
  <h2 class="govuk-heading-m govuk-!-margin-top-9">{{submitApplication}}</h2>
  <p class="govuk-body">{{checkInfoBeforeSubmit}}</p>
{% endblock %}
{% endblock %}
