{% extends "common/template.njk" %}

{% block pageTitle %}
  {{ cardTitle }}
  {{ appName }}
{% endblock %}

{% block page_content %}
  <div class="app-inverted--card app-inverted-text govuk-!-margin-top-5">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7 app-inverted-text">{{cardTitle}}</h1>
    <h2 class="govuk-heading-m app-link--inverted">
      {{cardContent}}</h2>
    </div>

  {% if docCategory === 'fm5-document' %}
    <p class="govuk-body govuk-!-margin-top-6">{{ content1 | safe }}</p>
  {% endif %}
    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">{{ content2 | safe }}</p>
  {% endblock %}