
{% extends "common/template.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
<a href="/ca-da-respondent/support-you-need-during-case/language-requirements" class="govuk-link">support-you-need-during-your-case</a>
{% endblock %}
