{% extends "common/template.njk" %}

{% block page_content %}
<h1>C100 applications</h1>
<h3> Applications made against you</h3>
<table>
<thead>
<tr>
<td>

<Case Name>
</td>
</tr>
<tr>
<td>

<State of the case>
</td>
</tr>

<br/>
<br/>
<tr>
<td>

<Case Name>
</td>
</tr>

<h1>Domestic Abuse</h1>
<h3> Applications made by you</h3>
<table>
<thead>
<th></th>

<a href="/applicant/task-list" class="govuk-link">Applicant</a>

<tr>
<td>
</td>
</tr>
<tr>
<td>

<Case Name>
</td>
</tr>
<tr>
<td>

<State of the case>
</td>
</tr>

<br/>
<br/>
<tr>
<td>

<Case Name>
</td>
</tr>

<h3> Applications made against you</h3>
<a href="/respondent/task-list" class="govuk-link">Respondent</a>
<table>
<thead>
<th>
    
</th>

<tr>
<td>

</td>
</tr>
<tr>
<td>

<Case Name>
</td>
</tr>
<tr>
<td>

<State of the case>
</td>
</tr>

<br/>
<br/>
<tr>
<td>

<Case Name>
</td>
</tr>

{% endblock %}
