{% extends "common/template.njk" %}

{% block page_content %}
<br/>
<a href="/respondent/task-list" class="govuk-link">Respondent</a>
<br/>
<a href="/applicant/task-list" class="govuk-link">DA Applicant</a>
<br/>
<h1 class="govuk-heading-l">Create C100 Application</h1>
<a href="/c100-rebuild/confidentiality/details-know" class="govuk-button">Start Now</a>

{% endblock %}