{% extends "common/template.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ caption }}</span>
    {{ title }}</h1>
  
  <p class="govuk-body">{{ content1 }}
  </p>
  <p class="govuk-body">
    <a href="{{aohDocumentUrl}}" class="govuk-link" target="_blank">{{content2}}</a>
  </p>
  <p class="govuk-body">{{ content3 }}
  </p>
  <p class="govuk-body">{{ content4 }}
  </p>
{% endblock %}