
{% extends "common/template.njk" %}

{% block page_content %}
<h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ section }}</span>
    {{ title }}</h1>
  <p class="govuk-body-m">{{ reviewBeforeResponding }} </p>
  <p class="govuk-body-m">{{ linkToAoH | safe }} </p>
  <p class="govuk-body-m">{{ disclaimer }} </p>
  <p class="govuk-body-m">{{ disclaimer_2 }} </p>
{% endblock %}