
{% extends "common/template.njk" %}

<div class="govuk-form-group">
{% block page_content %}
<div class="govuk-form-group">
    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{caption}}</span>
        {{document_type}}
    </h1>
      {% if title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}
      <label class="govuk-label" for="more-detail">
        You can use this box to:


          <ul class="govuk-list govuk-list--bullet">
            <li>write a statement if you do not want to upload a document</li>
            <li>give the court more information about the documents you are uploading</li>

          </ul>
      </label>
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  {{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: ""
  }
  }) }}

      <button class="govuk-button upload-addnew govuk-button--secondary" data-module="govuk-button" id='upload-file-text'>
        Submit
      </button>


</div>
<p class="govuk-body">If you are uploading documents from a computer, name the files clearly. For example, letter-from-school.doc.</p>
<p class="govuk-body govuk-!-margin-bottom-6">Files must end with JPG, BMP, PNG,TIF, PDF, DOC or DOCX.</p>
<details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to take a picture of a document on your phone and upload it
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Place your document on a flat service in a well-lit room. Use a flash if you need to.</li>
                <li>Take a picture of the whole document. You should be able to see its edges.</li>
                <li>Check you can read all the writing, including the handwriting.</li>
                <li>Email or send the photo or scan to the device you are using now.</li>
                <li>Upload it here.</li>
              </ol>
            </div>
</details>
<div class="uploadcomponent">

          <div class=" govuk-!-margin-bottom-3">

            <div class="govuk-form-group govuk-inset-text">
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file"
  }
}) }}

                <button class="govuk-button upload-addnew govuk-button--secondary" data-module="govuk-button">
                  Upload file
                </button>

            </div>
            <div class="uploadedfilessummary">

                  <h2 class="app-task-list__section">
                     Your documents
                  </h2>

                  <dl class="govuk-summary-list">

                      <div class="govuk-summary-list__row">
                        {% for item in "csvsddsf" | list%}
                          {{item}}
                        {%endfor %}
                      </div>

                    </dl>

              </div>

            </div>


          </div>
 <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h3 class="govuk-heading-m">
                  Statement of truth
                </h3>
              </legend>
              <div class="govuk-warning-text">
                 <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                 <strong class="govuk-warning-text__text">
                   <span class="govuk-warning-text__assistive">Warning</span>
                   Proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement verified by a statement of truth without an honest belief in its truth.

                 </strong>
               </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    I believe that the facts stated in these documents are true
                  </label>
                </div>

              </div>
              <br>
              <p class="govuk-body">This confirms that the information you are submitting is true and accurate, to the best of your knowledge.</p>

            </fieldset>
          </div>

{% endblock %}

 </div>  