{% extends "../page.njk" %}

{% block page_content %}
  {% if section %}
    <span class="govuk-heading-l">{{ section }}</span>
  
  {% endif %}
  {% if title %}
    <h1 class="govuk-caption-m govuk-!-margin-bottom-2">{{ title }}</h1>
  {% endif %}
  {% if line1 %}
    <div class="govuk-hint">{{ line1 }}</div>
  {% endif %}
  {% if line2 %}
    <p class="govuk-body">{{ line2 }}</p>
  {% endif %}

{% endblock %}


{% block form %}
  {% include "./form.njk"%}
  <details class="govuk-details" data-module="govuk-details" open="">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="cya download draft">
            {{downloadDraftPDF}}
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            {{cannotOpen}}
            <a href="https://get.adobe.com/uk/reader/" class="govuk-link" rel="external" target="_blank">{{adobeReader}}</a> {{tryAgain}}
          </p>
          <p class="govuk-body">
            {{forRecords}}
          </p>

          <a class="govuk-button ga-pageLink govuk-button--secondary" role="button" draggable="false" data-module="govuk-button" data-ga-category="check your answers" data-ga-label="download draft" download="" href="/tasklistresponse/generate-c7-draft">{{downloadDraft}}</a>

        </div>
      </details>
{% endblock %}
