apiVersion: v2
appVersion: '1.0'
description: A Helm chart for prl-citizen-frontend App
name: prl-citizen-frontend
home: https://github.com/hmcts/prl-citizen-frontend
version: 0.0.2
dependencies:
  - name: nodejs
    version: 2.4.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
