nodejs:
  image: 'hmctspublic.azurecr.io/prl/citizen-frontend:latest'
  applicationPort: 3001
  readinessDelay: 130
  livenessDelay: 130
  autoscaling: # Default is false
    enabled: true
    maxReplicas: 5 # Required setting
    targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
  aadIdentityName: prl
  ingressHost: privatelaw.{{ .Values.global.environment }}.platform.hmcts.net
  environment:
    NODE_ENV: production
    REFORM_TEAM: prl
    REFORM_SERVICE_NAME: prl-citizen-frontend
    SERVICE_AUTH_PROVIDER_URL: 'http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    IDAM_WEB_URL: 'https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login'
    IDAM_API_URL: 'https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token'
  keyVaults:
    prl:
      resourceGroup: prl
      secrets:
        - AppInsightsInstrumentationKey
        - prl-citizen-frontend-idam-client-secret
        - microservicekey-prl-citizen-frontend
        - prl-cos-idam-client-secret
        - microservicekey-prl-cos-api
        - system-update-user-username
        - system-update-user-password
        - idam-solicitor-username
        - idam-solicitor-password
idam-pr:
  enabled: false
