nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  devmemoryLimits: 2Gi
  devmemoryRequests: 512Mi
  devcpuLimits: 1000m
  devcpuRequests: 500m
  autoscaling:
    enabled: false
  environment:
    NODE_ENV: production
    REFORM_TEAM: prl
    REFORM_SERVICE_NAME: prl-citizen-frontend
    SERVICE_AUTH_PROVIDER_URL: 'http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    IDAM_WEB_URL: 'https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login'
    IDAM_API_URL: 'https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token'
    CCD_URL: 'https://ccd-data-store-api-prl-ccd-definitions-pr-2327.preview.platform.hmcts.net'
    EQUALITY_URL: 'https://pcq.aat.platform.hmcts.net'
    DOCUMENT_MANAGEMENT_URL: 'https://ccd-case-document-am-api-prl-ccd-definitions-pr-2327.preview.platform.hmcts.net'
    COS_URL: 'https://prl-cos-pr-2544.preview.platform.hmcts.net'
    REASONABLE_ADJUSTMENTS: 'https://cui-ra.aat.platform.hmcts.net'
    FACT_URL: 'http://fact-api-aat.service.core-compute-aat.internal'
    REASONABLE_ADJUSTMENTS: 'https://cui-ra.{{ .Values.global.environment }}.platform.hmcts.net'
    REDIS_HOST: 'prl-citizen-frontend-secondary-redis-{{ .Values.global.environment }}.redis.cache.windows.net'
    LAUNCH_DARKLY_OFFLINE_MODE: false
    C100_REBUILD_FLAG: false
    TESTING_SUPPORT_FLAG: true
    ENABLE_CASE_TRAIN_TRACK: true
    ENABLE_RA_COMPONENT: true
    ENABLE_PCQ_COMPONENT: true
    ALLOWED_COURTS: Swansea Civil Justice Centre
  keyVaults:
    prl:
      resourceGroup: prl
      secrets:
        - AppInsightsInstrumentationKey
        - prl-citizen-frontend-idam-client-secret
        - postcode-lookup-token
        - prl-cos-idam-client-secret
        - microservicekey-prl-citizen-frontend
        - microservicekey-prl-cos-api
        - system-update-user-username
        - system-update-user-password
        - idam-solicitor-username
        - idam-solicitor-password
        - launchDarkly-sdk-key
        - citizen-upload-docs-email
        - redis-access-key
        - prl-pcq-token-key
idam-pr:
  enabled: true
  redirect_uris:
    prl-citizen-frontend:
      - https://${SERVICE_FQDN}/receiver

