nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  devmemoryLimits: 2Gi
  devmemoryRequests: 512Mi
  devcpuLimits: 1000m
  devcpuRequests: 500m
  autoscaling:
    enabled: false
  keyVaults:
    prl:
      resourceGroup: prl
      secrets:
        - AppInsightsInstrumentationKey
idam-pr:
  enabled: true
  redirect_uris:
    adoption-web:
      - https://${SERVICE_FQDN}/receiver
