
<p class="govuk-body-m">
<a href="https://www.gov.uk/injunction-domestic-violence" id="Apply for an injunction" target="_blank" class="govuk-link">Apply for an injunction</a>
</p>
<h1 class="govuk-heading-m">{{ reportIncident }}</h1>
<p class="govuk-body-m"> {{ emergencyCall }} </p>

<p class="govuk-body-m">
<a href="{{howToReportChildAbuseHyperLink}}" id="howToReportChildAbuseLabel" target="_blank" class="govuk-link">{{ howToReportChildAbuseLabel }}</a>
</p>
<h1 class="govuk-heading-m">{{ support }}</h1>
<p class="govuk-body-m">
<a href="{{nationalSocietyPreventionCrueltyHyperLink}}" id="nationalSocietyPreventionCrueltyChildrenLabel" target="_blank" class="govuk-link">{{ nationalSocietyPreventionCrueltyChildrenLabel }}</a>
</br>
<a href="{{childlineHyperLink}}" id="childlineLabel" target="_blank" class="govuk-link">{{ childlineLabel }}</a>
</br>
<a href="{{supportDirectoryHyperLink}}" id="supportDirectoryLabel" target="_blank" class="govuk-link">{{ supportDirectoryLabel }}</a>
</br>
<a href="{{supportNavHyperLink}}" id="supportNavLabel" target="_blank" class="govuk-link">{{ supportNavLabel }}</a>
</p>
