{% extends "common/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "common/fileupload/fileUploadMoj.njk" import fileUploadMoj %}

<div class="govuk-form-group">
  {% block page_content %}
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{caption}}</span>
        {{title}}
      </h1>
      {% if allowGenerateDocs %}

        {% if isDocumentGeneratedAndUploded %}
          {{ govukWarningText({
          text: documentAvailableText,
          iconFallbackText: "Warning"
        }) }}
        {% endif %}

        <p class="govuk-body">{{textAreaUploadText}}</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
          {% for listItem in textAreaDocBulletPoints %}
            <li>{{ listItem }}</li>
          {% endfor %}
        </ul>
        <p class="govuk-body">{{alsoUploadDocuments}}</p>

        <form
        action="?docCategory={{ docCategory }}&_csrf={{ csrfToken }}"
        method="post"
        novalidate>
          <div class="govuk-form-group">
            {{ govukTextarea({
              name: "statementText",
              id: "statementText",
              label: {
                text: textAreaDocUploadText1,
                classes: "govuk-label--m govuk-!-margin-top-4",
                for: "statementText"
              },
              hint: {
                html: textAreaDocUploadText2,
                classes: "govuk-hint"
              },
               errorMessage: {
            text: errorMessage
          } if errorMessage !== null
            }) }}
          </div>
          <p class="govuk-body">{{textAreaSaveText}}</p>
          <button type="submit" value="true" name="generateDocument" class="govuk-button upload-addnew govuk-button--secondary" data-module="govuk-button">
            {{save}}
          </button>
        </form>
        <h2 class="govuk-heading-m">{{uploadFileTitle}}</h2>
        <p class="govuk-body" id="fileUploadLabel">{{textAreaDocUploadText3}}</p>
      {% endif %}

    </div>

    <p class="govuk-body">{{uplodFileText1}}</p>
    <p class="govuk-body govuk-!-margin-bottom-6">{{uplodFileText2}}</p>
    <details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{uplodFileText3}}
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li>{{uplodFileText4}}</li>
          <li>{{uplodFileText5}}</li>
          <li>{{uplodFileText6}}</li>
          <li>{{uplodFileText7}}</li>
          <li>{{uplodFileText8}}</li>
        </ol>
      </div>
    </details>
    <div id="uploadGroup" class="uploadGroup">
      <div class=" govuk-!-margin-bottom-3">
        {% if errorMessage !== null %}
          <div class="govuk-form-group--error">
          {% endif %}
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m for="uploadDocumentFileUpload">
                {{uploadFileHeading}}
              </label>
            </h2>
            <form
            action="?docCategory={{ docCategory }}&_csrf={{ csrfToken }}"
            method="post"
            enctype="multipart/form-data"
            novalidate>
              {{ fileUploadMoj(
                {
                  id: "document",
                  name: "document",
                  classes: "moj-multi-file-upload__input",
                  javascript: true,
                  label: { text: uploadFileHeading, classes: "govuk-label--m" },
                  uploadButtonText: uploadButton,
                  filesAddedHeading: filesAddedHeading,
                  deleteButtonText: removeDocument,
                  uploadUrl: uploadURL,
                  deleteUrl: deleteURL,
                  multiple: true,
                  accept: accept,
                  maxFileSize: maxFileSize,
                  chooseFileText: chooseFile,
                  dropFileText: dropFile,
                  errorSummaryTitle: errors.title,
                  errorPrefix: errors.prefix,
                  errorWrongFileType: errors.uploadDocumentFileUpload.fileFormat,
                  errorFileTooLarge: errors.uploadDocumentFileUpload.fileSize,
                  errorFilenameTooLong: errors.uploadDocumentFileUpload.filenameTooLong,
                  errorUploadFailed: errors.uploadDocumentFileUpload.uploadError,
                  errorDelete: errors.uploadDocumentFileUpload.deleteError,
                  errorRemoveFileFirst: errors.uploadDocumentFileUpload.removeFileFirst,
                  errorOnlyOneFile: errors.uploadDocumentFileUpload.onlyOneFile
                }
              ) }}
            </form>
          </div>
        </div>
        {% if errorMessage !== null %}
        </div>
      {% endif %}

      {% if filesUploaded.length > 0 %}
        <h2 class="govuk-heading-s">{{ uploadDocumentFileUpload }}</h2>

        <ul id="filesUploadedList" class="govuk-list">
          <dl class="govuk-summary-list">
            {% for file in filesUploaded %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  {{ file.document_filename }}
                </dt>
                <dd class="govuk-summary-list__actions">
                  <a
                    href="?documentId={{ file.id }}"
                  class="govuk-link">
                    {{ removeDocument }}</span>
                </a>
              </dd>
            </div>
          {% endfor %}
        </dl>
      </ul>
    {% endif %}
  </div>

  {% if docCategory !== 'fm5-document' %}
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-heading-m">
            {{ statementOfTruth }}
          </h2>
        </legend>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">{{ warning }}</span>
            {{ warningText }}
          </strong>
        </div>
      </fieldset>
    </div>
  {% endif %}

{% endblock %}
</div>
