{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
  <span class="govuk-caption-xl">{{caption}}</span>
  <h1 class="govuk-heading-xl">{{title}}</h1>
  <h2 class="govuk-heading-l">{{subTitle}}</h2>
  <p class="govuk-body-m">{{ emailText if contactPreference === 'email' }}</p>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ email if contactPreference === 'email' else address }}
      </dt>
      <dd class="govuk-summary-list__value">
        {% if contactPreference === 'email' %}
          {{emailAddress}}
        {% else %}
          {% for address in addresses %}
            <p class="govuk-body">{{address | safe}}</p>
          {% endfor %}
          {% if addresses.length === 0 %}
            <span class="govuk-error-message">{{ completeSection }}</span>
          {% endif %}
        {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{changeLink}}">
          {{change}}
          <span class="govuk-visually-hidden">
            {{nameText}}</span>
        </a>
      </dd>
    </div>
  </dl>

  {% if contactPreference === 'post' %}
    {% for item in postText %}
      <p class="govuk-body">{{item | safe}}</p>
    {% endfor %}
  {% endif %}

  {{ govukWarningText({
  text: warningText,
  iconFallbackText: "Warning"
}) }}

{% endblock %}