# exclude all by default
*

# exceptions from `exclude all` rule
!package.json
!yarn.lock
!.yarn/**
!.yarnrc.yml
!tsconfig.json
!webpack/**
!src/main/**
!config/**
!webpack.config.js
# TEMPORARY - remove when there's a fix in master
!app
!public
!.yarn
