
{% extends "common/template.njk" %}

{% block page_content %}

<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-xl">{{title}}</h1>

<div class="govuk-body-m"> {{courtcommunication}} </div>

{% endblock %}
