{% extends "common/template.njk" %}

{% block page_content %}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <span class="govuk-caption-l">{{section}}</span>
    <h1 class="govuk-fieldset__heading">{{title}}</h1>
</legend>

{% endblock %}