{% extends "common/template.njk" %}

{% block page_content %}

  {% if section %}
    <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{ section }}</h1>
  {% endif %}

  <p class="govuk-body">{{ caseNumber }} #{{ userCase.id }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h3 class="govuk-heading-l">{{ yourPreviousHearings }}</h3>

  <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-left-9"></dl>
   {% if userCase.hearingCollection.length>=1 %}
    {% for item in userCase.hearingCollection %}

        <div>
          <h4 class="govuk-heading-m govuk-!-margin-left-9">{{ hearing }}</h4>
        </div>

        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-left-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ hearingid }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{item.hearingID}}
            </dd>
          </div>  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ typeOfHearing }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{item.hearingType}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ hearingRequestDate }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{item.hearingRequestDateTime}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ lastResponseDate }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{item.lastResponseReceivedDateTime}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ hearingListingStatus }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{item.hearingListingStatus}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ listAssistStatus }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{item.listAssistCaseStatus}}
            </dd>

          </div>
       {# {% if item.hearingDaySchedule>=1 %} #}
        {% for scheduler in item.hearingDaySchedule %}
          <div>
          <h4 class="govuk-heading-m govuk-!-margin-left-2">{{ schedule }}</h4>
          </div>
        <dl class="govuk-!-margin-left-2">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ hearingStartDateTime }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{scheduler.hearingStartDateTime}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ hearingEndDateTime }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{scheduler.hearingEndDateTime}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ hearingRoomId }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{scheduler.hearingRoomId}}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ noOfAttendees }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{scheduler.attendees.length}}
            </dd>

          </div>
        </dl>
        {% endfor %} 
        {# {% endif %} #}
        </dl>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% endfor %}
   {% endif %}
{% endblock %}