{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% from "../../../common/fileupload/macro.njk" import fileUpload %}

{% extends "common/page.njk" %}
{% block page_content %}

{% if FileErrors.length > 0 %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: FileErrors
}) }}
{%endif%}

  <h1 class="govuk-heading-xl">{{title}} </h1>
  <p class="govuk-body">{{ youNeed }}</p>
  <p class="govuk-body">{{ youNeed2 }}</p>

{% set uploadReqTest = ""%}
{% for item in uploadRequirement %}
    {% set uploadReqTest = uploadReqTest + "<li>" + item + "</li>"%}
{% endfor %}
{% set requirementTest = "<ol class='govuk-list govuk-list--number'>" + uploadReqTest + "</ol>" %}

{{ govukDetails({
  summaryText: uploadDescription,
  text: requirementTest  | safe
}) }}
    {% for error in sessionErrors %}
      {%- if  error.propertyName === 'document'  %}<div class="govuk-form-group--error">  {% endif %}
      {% endfor %}
    {% for error in sessionErrors %}
      {%- if  error.propertyName === 'document'  %}
      {%- if  error.errorType === 'required'  %}
          <span class="govuk-error-message" id="miam-file-upload-required-error">
      <span class="govuk-visually-hidden">Error: </span>{{errors['document'].required}}</span>
      {% endif %}
      {%- if  error.errorType === 'multipleFiles'  %}
      <span class="govuk-error-message" id="miam-file-upload-multiple-error">
      <span class="govuk-visually-hidden">Error: </span>{{errors['document'].multipleFiles}}</span>
      {% endif %}
      {% endif %}
      {% endfor %}
   {{ fileUpload(
        {
          uploadButtonText: uploadButton,
          fileuploadTitle: "Select documents to upload",
          fileuploadTitleClass: "govuk-!-font-weight-bold",
          formPostURL: postURL ,
          sessionFilesArray: false,
          sessionFiles: userCase.miam_certificate,
          uploadFileHeading: '',
          sessionNullFilesMessage: noFilesUploaded,
          removeText: remove,
          csrfToken: csrfToken
        }
      ) }}
  {% for error in sessionErrors %}
  {%- if  error.propertyName === 'document'  %}</div>  {% endif %}
  {% endfor %}
     
{% endblock %}