{% extends "common/template.njk" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      {% block page_content %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-l">{{section}}</span>
        <h1 class="govuk-fieldset__heading">{{title}}</h1>
        </legend>
        <div class="govuk-!-padding-bottom-4"></div>
        <p class="govuk-body">See the National Society for Prevention of Cruelty to Children (NSPCC) guidance on <a href="https://www.nspcc.org.uk/what-is-child-abuse/types-of-abuse/" class="govuk-link govuk-link a" rel="external" target="_blank">spotting the signs of child abuse</a>.</p>
        <div class="govuk-!-padding-bottom-2"></div>
       
      {% endblock %}
      
      {% if form %}
        {% block form %}
          {% include "common/form/form.njk"%}
        {% endblock %}
      {% endif %}

      {% block page_content_under_form %}
      {% endblock %}
    </div>
    <div class="govuk-grid-column-one-third">
        {% block page_contact_us %}
            <ul class="govuk-list">
           <li><a href="https://www.gov.uk/injunction-domestic-violence" class="govuk-link" rel="external" target="_blank">Apply for an injunction</a></li>
         </ul>

           <h2 class="govuk-heading-m">Report an incident</h2>

           <p class="govuk-body">
             Always call 999 if there’s an emergency or if you think a child’s in danger.
           </p>

           <ul class="govuk-list">
             <li><a href="https://www.gov.uk/report-child-abuse" class="govuk-link" rel="external" target="_blank">How to report child abuse</a></li>
          </ul>


         <h2 class="govuk-heading-m">Get support</h2>


         <ul class="govuk-list">
           <li><a href="https://www.nspcc.org.uk" class="govuk-link" rel="external" target="_blank">NSPCC: National Society for the Prevention of Cruelty to Children</a></li>
           <li><a href="https://www.childline.org.uk" class="govuk-link" rel="external" target="_blank">Childline</a></li>
          <li><a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" class="govuk-link" rel="external" target="_blank">GOV.UK Support directory</a></li>
          <li><a href="https://supportnav.org.uk/" class="govuk-link" rel="external" target="_blank">SupportNav</a></li>
         </ul>
             {% include "../../../common/contact-us.njk" %}
        {% endblock %}
    </div>
  </div>
{% endblock %}





