{% extends "common/template.njk" %}
{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<p class="govuk-body-l">{{paragraph1}} </p>
<p class="govuk-body-l">{{applyForVrLink | safe}}</p>
<p class="govuk-body">{{paragraph2}} </p>
{% endblock %}
