{% extends "common/template.njk" %}


{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{headingTitle}}</h1>
<p class="govuk-body-m">{{p1}}</p>
<ul class="govuk-list govuk-list--bullet">

  {%if userCase['contactDetailsPrivate'] and userCase['contactDetailsPrivateAlternative']  === undefined %}
      {% for details in userCase['contactDetailsPrivate'] %}
                {% if details === "address" %}
                <li>Address</li>
                {% elif details === "homephone"  %}
                <li>Home phone</li>
                {% elif details === "mobilephone"  %}
                <li>Mobile phone</li>
                {% elif details === "email"%}
                <li>Email</li>
                {% else %}
              {% endif %}
        {% endfor %}
  {%endif%}


  {%if userCase['contactDetailsPrivateAlternative'] and userCase['contactDetailsPrivate'] === undefined  %}
      {% for Privatedetails in userCase['contactDetailsPrivateAlternative'] %}
                {% if  Privatedetails === "address" %}
                <li>Address</li>
                {% elif Privatedetails === "homephone" %}
                <li>Home phone</li>
                {% elif  Privatedetails === "mobilephone" %}
                <li>Mobile phone</li>
              {% elif Privatedetails === "email"%}
                <li>Email</li>
                {% else %}
              {% endif %}
      {% endfor %}
  {%endif%}

 {%if userCase['contactDetailsPrivateAlternative'] and userCase['contactDetailsPrivateAlternative'] %}
  {% set uniqueItemStorage = [] %}

  {% for details in userCase['contactDetailsPrivate'] %}
  {% for Privatedetails in userCase['contactDetailsPrivateAlternative'] %}
            {% if details === "address" or Privatedetails === "address" %}
               {% set uniqueItemStorage = (uniqueItemStorage.push({name: "Address"}), uniqueItemStorage) %}
            {% elif details === "homephone" or Privatedetails === "homephone" %}
               {% set uniqueItemStorage = (uniqueItemStorage.push({name: "Home phone"}), uniqueItemStorage) %}
            {% elif details === "mobilephone" or Privatedetails === "mobilephone" %}
               {% set uniqueItemStorage = (uniqueItemStorage.push({name: "Mobile phone"}), uniqueItemStorage) %}
          {% elif details === "email" or Privatedetails === "email"%}
             {% set uniqueItemStorage = (uniqueItemStorage.push({name: "Email"}), uniqueItemStorage) %}
            {% else %}
{% endif %}
 {% endfor %}
   {% endfor %}
  {% for selection in uniqueItemStorage | uniqueConfidentials %}
    <li>
     {{selection.name}}
    </li>
  {% endfor %}
  {%endif%}
</ul>
<h2 class="govuk-heading-m">{{heading3}}</h2>
<p class="govuk-body-m govuk-!-margin-bottom-9">{{p2}}</p>
{% endblock %}
