{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>

{% endblock %}

{% block page_safetyConcerns %}
    {% include "../template.njk"%}
{% endblock %}
