{% extends "common/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

{{ govukButton({
  text: button.startNow,
  isStartButton: true,
  href: data.serviceUrl
}) }}

{% endblock %}