{% extends "common/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block page_content %}

<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

{{ govukInsetText({
  text: subTitle
}) }}

{% endblock %}