{% extends "common/summary/template.njk" %}
{% block page_content %}
{% if title %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-50px">{{ title }}</h1>
  {% endif %}
  {% if subTitle %}
    <div class="govuk-hint">{{ subTitle }}</div>
  {% endif %}
{% endblock %}
