{% extends "common/summary/template.njk" %}
{% block page_content %}
{% if section %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-50px">{{ section }}</h1>
  {% endif %}
  {% if title %}
    <span class="govuk-hint">{{ title }}</span>
  {% endif %}
{% endblock %}
