{% extends "common/template.njk" %}
 {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
 {% from "govuk/components/table/macro.njk" import govukTable %}

 {% block page_content %}
 <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-29" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        {{success}}
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h2 class="govuk-notification-banner__heading">
        {{headingTitle}}
      </h2>
    </div>
  </div>

   {% set orderDocuments = [] %}
   {% for orderDocument in data.documents %}
      {% if orderDocument.fileName !== undefined %}
        {% set editLink %}
          <a class="govuk-link" href="{{orderDocument.editUrl}}">{{edit}}</a>
        {% endset %}

        {% set orderDocuments = (orderDocuments.push([
          {
            text: orderDocument.fileName
          }, {
            html: editLink
          }
        ]), orderDocuments) %}
      {% endif %}
   {% endfor %}

   {{ govukTable({
   caption: uploadDetail,
   captionClasses: "govuk-table__caption--l",
   firstCellIsHeader: false,
   rows: orderDocuments
 }) }}

 {% endblock %}