{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{caption}}</span>
    {{title}}</h1>
  <p class="govuk-body">{{ content1}}</p>

  <span class="govuk-body">{{ content2}}</span>
  <ul class="govuk-list govuk-list--bullet">
    {% for item in list %}
      <li>{{ item.content }}</li>
    {% endfor %}
  </ul>

  <h2 class="govuk-heading-m">{{ content3 }}</h2>

  {{ govukWarningText({
  html: content4
}) }}

  <h3 class="govuk-heading-s">{{ content5 }}</h2>
  <p class="govuk-body">{{ content6}}</p>

  <h3 class="govuk-heading-s">{{ content7 }}</h2>
  <p class="govuk-body">{{ content8}}</p>

  <h3 class="govuk-heading-s">{{ content9 }}</h2>
  <p class="govuk-body">{{ content10 | safe}}</p>

  <h3 class="govuk-heading-s">{{ content11 }}</h2>
  <p class="govuk-body">{{ content12}}</p>
{% endblock %}