{% extends "common/template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block page_content %}
  {% include "common/error/summary.njk" %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>

{% endblock %}

{% block form_content %}
  {{ govukRadios(form.fields.confidentiality) }}
{% endblock %}


