{% extends "common/template.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{title}}</h1>
{% endblock %}

{% block page_content_under_form %}
  <p class="govuk-body">
    <a href="https://www.gov.uk/find-legal-advice/find-legal-adviser" class="govuk-link" rel="external" target="_blank">{{findLegalRep}}</a>
  </p>
  <p class="govuk-body">
    <a href="https://www.gov.uk/legal-aid" class="govuk-link" rel="external" target="_blank">{{needLegalAid}}</a>
  </p>
{% endblock %}