{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-top-7">{{title}}</h1>
{% for paragraph in paragraphs %}
        <p class="govuk-body">{{paragraph | safe}}</p>
{% endfor %}

{{ govukWarningText(getContent(warningText)) }}

{% endblock %}