@import 'govuk-frontend';
@import '~@hmcts/frontend/all';

@import './banner';
@import './header';
@import './cookie-banner';
@import './task-list';

.hmcts-button-link,
.uppy-FileInput-btn {
  @extend %govuk-body-m;
}
section {
  margin-bottom: 2em;
}
.hidden {
  display: none;
}
.float-left {
  margin-bottom: 10px !important;
  p {
    float: left;
  }
  a {
    float: left;
    padding-left: 20px;
  }
}
.font-normal {
  font-weight: 400;
}
.summary-list-value {
  text-align: left;
  @include govuk-media-query($from: tablet) {
    text-align: right;
  }
}
.summary-list-actions {
  width: 100%;
  @include govuk-media-query($from: tablet) {
    width: 30%;
  }
}
.not-underlined {
  text-decoration: none;
  color: #0B0C0C !important;
}
.progress-bar-line {
  text-decoration: none;
  background-color: #1D70B8 !important;
  border: 0px solid #1D70B8;
}
.hmcts-progress-bar__icon {
  position: relative;
  background-color: #ffffff;
  border: 6px solid #CECECE;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
}
.hmcts-progress-bar__list::before {
  border-top: 6px solid #CECECE;
  content: "";
  left: 0;
  position: absolute;
  top: 13px;
  width: 100%;
}

.float-right {
  float: right !important;
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

.status-bar {
  @include for-tablet-portrait-up {
    display: flex;
    padding: 3.125rem 2rem;
    margin-bottom: 3rem;
  }
  &__stage {
    display: flex;
    position: relative;
    @include for-tablet-portrait-up {
      flex-direction: column;
      &:not(:first-child) {
        width: 100%;
      }
    }

    @include for-tablet-portrait-up {
      &:first-child {
        .status-bar__title {
          font-family: "GDS Transport", arial, sans-serif;
          width: 10rem;
          left: calc(-5rem + 1.375rem);
        }
      }

      &:not(:first-child) {
        .status-bar__title {
          font-family: "GDS Transport", arial, sans-serif;
          width: 100%;
          left: calc(50% - 1.375rem);
        }
      }
    }

    &:not(:first-child) {
      height: 4.75rem;
      @include for-tablet-portrait-up {
        height: auto;
      }

      > .status-bar__ring {
        position: relative;
        top: 2rem;
        @include for-tablet-portrait-up {
          top: 0;
          left: calc(100% - 2.75rem);
        }
      }

      &:before {
        display: block;
        content: '';
        box-sizing: border-box;
        border: solid .1875rem $govuk-border-colour;
        height: 2rem;
        position: absolute;
        left: 1.1875rem;
        @include for-tablet-portrait-up {
          height: auto;
          width: calc(100% - 2.75rem);
          left: 0;
          top: calc(100% / 2 - 0.1875rem);
        }
      }
    }
  }

  &__title {
    position: absolute;
    left: 3rem;
    bottom: 0;
    @include for-tablet-portrait-up {
      top: 4rem;
      text-align: center;
    }
  }

  &__ring {
    box-sizing: border-box;
    border-radius: 50%;
    border: .25rem solid $govuk-border-colour;
    width: 2.75rem;
    height: 2.75rem;
  }
}

.stage--active {
  .status-bar__ring {
    background-repeat: no-repeat;
    background-color: $govuk-link-colour;
    background-position: center;
    border: .25rem solid $govuk-link-colour;
  }
}

.stage--completed {
  .status-bar__ring {
    background-image: url('/assets/images/icon-progress-tick.png');
    background-repeat: no-repeat;
    background-color: $govuk-link-colour;
    background-position: center;
    border: .25rem solid $govuk-link-colour;
  }
}


.app-inverted--card {
  margin-top: -15px;
  margin-left: 0;
  margin-right: 0;
  padding: 40px 60px;
}
.app-inverted-text,
.app-inset-text--inverted {
  color: #ffffff;
  background-color: #1d70b8;
}
.app-inset-text--inverted {
  border-left: 10px solid #ffffff;
}

.app-button--inverted,
.app-button--inverted:link,
.app-button--inverted:visited {
  color: #1d70b8;
  background-color: #ffffff;
  box-shadow: 0 2px 0 #144e81;
}
.app-link--inverted,
.app-link--inverted:link,
.app-link--inverted:active,
.app-link--inverted:visited {
  color: #ffffff;
  font-weight: 700;
}
.app-button--l {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.25rem;
  line-height: 1;
  min-height: auto;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

li.list-style--none{
  list-style-type: none;
}

@media screen and (min-width: 640px) {
  .app-button--l {
      font-size: 24px;
      font-size: 1.5rem;
  }
}

.border-bottom--none{
  border-bottom: none !important;
}

.hmrc-timeout-overlay {
  background-color: #0b0c0c;
  filter: alpha(opacity=80);
  height: 100%;
  left: 0;
  opacity: 0.8;
  -moz-opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.hmrc-timeout-dialog {
  background-color: #fff;
  border: 5px solid #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 30px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 280px;
  z-index: 1002;
}

@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog {
    max-width: 100%;
    width: 435px;
  }
}
.hmrc-timeout-dialog:focus {
  outline: 3px solid #fd0;
}

.hmrc-timeout-dialog__message {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  line-height: 1.31579;
}

@media print {
  .hmrc-timeout-dialog__message {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__message {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .hmrc-timeout-dialog__message {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.hmrc-timeout-dialog__countdown {
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
}

.hmrc-timeout-dialog__link {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.1111111111;
}

@media print {
  .hmrc-timeout-dialog__link {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media print {
  .hmrc-timeout-dialog__link {
    font-size: 18pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 8px 10px 7px;
  }
}
@media print and (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print and (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-size: 14pt;
    line-height: 1.15;
  }
}
