@import 'govuk-frontend';
@import '~@hmcts/frontend/all';

@import './banner';
@import './header';
@import './cookie-banner';
@import './task-list';

.hmcts-button-link,
.uppy-FileInput-btn {
  @extend %govuk-body-m;
}
section {
  margin-bottom: 2em;
}
.hidden {
  display: none;
}
.float-left {
  margin-bottom: 10px !important;
  p {
    float: left;
  }
  a {
    float: left;
    padding-left: 20px;
  }
}
.font-normal {
  font-weight: 400;
}
.summary-list-value {
  text-align: left;
  @include govuk-media-query($from: tablet) {
    text-align: right;
  }
}
.summary-list-actions {
  width: 100%;
  @include govuk-media-query($from: tablet) {
    width: 30%;
  }
}
.not-underlined {
  text-decoration: none;
  color: #0B0C0C !important;
}
.progress-bar-line {
  text-decoration: none;
  background-color: #1D70B8 !important;
  border: 0px solid #1D70B8;
}
.hmcts-progress-bar__icon {
  position: relative;
  background-color: #ffffff;
  border: 6px solid #CECECE;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
}
.hmcts-progress-bar__list::before {
  border-top: 6px solid #CECECE;
  content: "";
  left: 0;
  position: absolute;
  top: 13px;
  width: 100%;
}

.float-right {
  float: right !important;
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

.status-bar {
  @include for-tablet-portrait-up {
    display: flex;
    padding: 3.125rem 2rem;
    margin-bottom: 3rem;
  }
  &__stage {
    display: flex;
    position: relative;
    @include for-tablet-portrait-up {
      flex-direction: column;
      &:not(:first-child) {
        width: 100%;
      }
    }

    @include for-tablet-portrait-up {
      &:first-child {
        .status-bar__title {
          width: 10rem;
          left: calc(-5rem + 1.375rem);
        }
      }

      &:not(:first-child) {
        .status-bar__title {
          width: 100%;
          left: calc(50% - 1.375rem);
        }
      }
    }

    &:not(:first-child) {
      height: 4.75rem;
      @include for-tablet-portrait-up {
        height: auto;
      }

      > .status-bar__ring {
        position: relative;
        top: 2rem;
        @include for-tablet-portrait-up {
          top: 0;
          left: calc(100% - 2.75rem);
        }
      }

      &:before {
        display: block;
        content: '';
        box-sizing: border-box;
        border: solid .1875rem $govuk-border-colour;
        height: 2rem;
        position: absolute;
        left: 1.1875rem;
        @include for-tablet-portrait-up {
          height: auto;
          width: calc(100% - 2.75rem);
          left: 0;
          top: calc(100% / 2 - 0.1875rem);
        }
      }
    }
  }

  &__title {
    position: absolute;
    left: 3rem;
    bottom: 0;
    @include for-tablet-portrait-up {
      top: 4rem;
      text-align: center;
    }
  }

  &__ring {
    box-sizing: border-box;
    border-radius: 50%;
    border: .25rem solid $govuk-border-colour;
    width: 2.75rem;
    height: 2.75rem;
  }
}

.stage--active {
  .status-bar__ring {
    background-image: url('/assets/images/icon-progress-tick.png');
    background-repeat: no-repeat;
    background-color: $govuk-link-colour;
    background-position: center;
    border: .25rem solid $govuk-link-colour;
  }
}

.stage--completed {
  .status-bar__ring {
    background-image: url('/assets/images/icon-progress-tick.png');
    background-repeat: no-repeat;
    background-color: $govuk-link-colour;
    background-position: center;
    border: .25rem solid $govuk-link-colour;
  }
}
