{% extends "common/template.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% block page_content %}
  {% if section %}
    <h1 class="govuk-heading-l">{{ section }}</span>
  {% endif %}
  {% if title %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-5">{{ title }}</h2>
  {% endif %}
  {% endblock %}
