{% extends "common/template.njk" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      {% block page_content %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-l">{{section}}</span>
        <h1 class="govuk-heading-l">{{title}}</h1>
        </legend>
        <p class="govuk-body ">Complete this section as best you can. If you don't feel able to discuss the abuse at this stage, you can do so when you speak to Cafcass.</p>
        <p class="govuk-body ">The information that you give will be used in the application. It is not a request for a domestic abuse injunction.</p>
        <p class="govuk-body ">You can <a href="https://www.gov.uk/injunction-domestic-violence" class="govuk-link govuk-link a" rel="external" target="_blank">apply for a domestic abuse injunction</a> separately.</p>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
           We will share the information that you give in this section with the other person in the case (the applicant) so that they can respond to what you have said.
          </strong>
        </div>
       
      {% endblock %}
      
      {% if form %}
        {% block form %}
          {% include "common/form/form.njk"%}
        {% endblock %}
      {% endif %}

      {% block page_content_under_form %}
      {% endblock %}
    </div>
    <div class="govuk-grid-column-one-third">
        {% block page_contact_us %}
            <div class="govuk-form-group">

          <ul class="govuk-list">
            <li><a href="https://www.gov.uk/injunction-domestic-violence" class="govuk-link" rel="external" target="_blank">Apply for an injunction</a></li>
            <li><a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" class="govuk-link" rel="external" target="_blank">Guidance to get help</a></li>
          </ul>
            <h2 class="govuk-heading-m">Report an incident</h2>
            <p class="govuk-body">
              Always call 999 if there’s an emergency or if you think you are in danger.
            </p>
            <ul class="govuk-list">
              <li><a href="https://www.gov.uk/report-domestic-abuse" class="govuk-link" rel="external" target="_blank">How to report domestic abuse</a></li>
           </ul>
          <h2 class="govuk-heading-m">Get support</h2>
          <ul class="govuk-list">
            <li><a href="https://www.flows.org.uk/" class="govuk-link" rel="external" target="_blank">FLOWS: Finding Legal Options for Women Survivors</a></li>
            <li><a href="https://www.womensaid.org.uk/" class="govuk-link" rel="external" target="_blank">Women's Aid</a></li>
           <li><a href="https://www.nationaldahelpline.org.uk/" class="govuk-link" rel="external" target="_blank">National Domestic Violence Helpline</a></li>
           <li><a href="https://mensadviceline.org.uk/" class="govuk-link" rel="external" target="_blank">Men's Advice Line</a></li>
          </ul>

     </div>
             {% include "../../../common/contact-us.njk" %}
        {% endblock %}
    </div>
  </div>
{% endblock %}





