<p class="govuk-body-m">
<a href="{{guidanceParentalChildHyperlink}}" id="guidanceParentalChildLabel" target="_blank" class="govuk-link">{{ guidanceParentalChildLabel }}</a>
<br>
<a href="{{helpForAbroadChildHyperlink}}" id="helpForAbroadChildLabel" target="_blank" class="govuk-link">{{ helpForAbroadChildLabel }}</a>
<br>
<a href="{{stopChildGettingPassportHyperlink}}" id="stopChildGettingPassportLabel" target="_blank" class="govuk-link">{{ stopChildGettingPassportLabel }}</a>
</p>
