{% extends "common/template.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% block page_content %}
<span class="govuk-caption-xl">{{title}}</span>
<h1 class="govuk-heading-xl">{{headingTitle}}</h1>
<p class="govuk-body-m">{{paragraph1}} </p>
<p class="govuk-body-m">{{paragraph2}}<a href="{{listOfOrganisationsHyperlink}}" id="paragraph2" target="_blank" class="govuk-link">{{ listOfOrganisationLabel }}</a> </p>
{{ govukWarningText(getContent(warningText)) }}
{% endblock %}
{% block page_safetyConcerns %}
<p class="govuk-body-m">
<a href="{{identifySignsOfChildAbuseHyperlink}}" id="identifySignsOfChildAbuseLabel" target="_blank" class="govuk-link">{{ identifySignsOfChildAbuseLabel }}</a>
<br>
<a href="{{identifySignsOfDomesticAbuseHyperlink}}" id="identifySignsOfDomesticAbuseLabel" target="_blank" class="govuk-link">{{ identifySignsOfDomesticAbuseLabel }}</a>
</p>
{% endblock %}
