{% extends "common/template.njk" %}

{% block pageTitle %}
  {{ panelTitle }}
  {{ appName }}
{% endblock %}

{% block page_content %}
  <div class="govuk-panel--custom govuk-panel--info-custom">
    <h1>
      {{panelTitle}}
    </h1>
    <div class="govuk-panel__body">
      {{panelContent}}
    </div>
  </div>

  <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">{{ bodyContent | safe }}</p>
{% endblock %}