{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/page.njk" %}
{% from "common/breadcrumb/breadcrumb.macro.njk" import appBreadcrumb with context %}

{% block backLink %}{% endblock %}

{% block page_content %}
  {{appBreadcrumb(breadcrumbs)}}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{viewDocuments.title}}</span>
    {{title}}
  </h1>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <p class="govuk-body">{{caseNumber}}&nbsp;&nbsp;{{caseId}}</p>
    </fieldset>
    <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">
  </div>

  {% if documents.length %}
    <ol class="app-task-list">

      <li>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
            {{ uploadDate }}
          </dt>
          <dd class="govuk-summary-list__key govuk-!-width-full">
          {{ file }}
          </dd>
          <dd class="govuk-summary-list__key govuk-!-width-one-quarter">
          {{ uploadedBy }}
          </dd>
          {% for document in documents %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                {{document['createdDate']}}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-full">
                <a href={{document['documentDownloadUrl']}} target="_blank">{{ document['documentName'] }}</a>
              </dd>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ document['uploadedBy'] }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      </li>
    </ol>
  {% endif %}
{% endblock %}