{% extends "common/template.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body-m">{{legalRepresentativeInformationLine1}}</p>
  <p class="govuk-body-m">{{legalRepresentativeInformationLine2}}</p>
  
  <ul class="govuk-list govuk-list--bullet">
    <li><h2 class="govuk-heading-s govuk-!-margin-bottom-0">{{legalRepresentativeInformationLine3}}{{userCase.id}}</h2></li>
    <li><h2 class="govuk-heading-s govuk-!-margin-bottom-0">{{legalRepresentativeInformationLine4}}{{partyName}}</h2></li>
  </ul>

  <p class="govuk-body-m">{{legalRepresentativeInformationLine5}}</p>
{% endblock %}
