{% extends "common/template.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body-m">{{legalRepresentativeInformationLine1}}</p>
  <p class="govuk-body-m">{{legalRepresentativeInformationLine2}}</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
    <li>{{legalRepresentativeInformationLine3}}{{userCase.id}}</li>
    <li>{{legalRepresentativeInformationLine4}}{{partyName}}</li>
  </ul>
  <p class="govuk-body-m">{{legalRepresentativeInformationLine5}}</p>
{% endblock %}
