{% extends "common/template.njk" %}


{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{headingTitle}}</h1>
<p class="govuk-body-m">{{paragraph1}}</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7">
    <li>{{line1}}</li>
    <li>{{line2}}</li>
    <li>{{line3}}</li>
  </ul>
<p class="govuk-body-m">{{paragraph2}}</p>
{% endblock %}