<div class="govuk-form-group">
           <ul class="govuk-list">
             <li><a href="https://www.nspcc.org.uk/what-is-child-abuse/types-of-abuse/" class="govuk-link" rel="external" target="_blank">Identify signs of child abuse</a></li>
             <li><a href="https://supportnav.org.uk/what-is-domestic-abuse" class="govuk-link" rel="external" target="_blank">Identify signs of domestic abuse</a></li>
           </ul>
</div>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ contactUsForHelp }}
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list contact-us">
      <li>
        <p class="govuk-body">{{ webChatDetails }}</p>
      </li>
      <li>
        <h4 class="govuk-heading-s">{{ telephone }}</h4>
        <p class="govuk-body">{{ telephoneNumber }}</p>
        <p class="govuk-body">{{ telephoneDetails }}</p>
      </li>
       <li>
        
        <p class="govuk-body"><a href="#" class="govuk-link">{{ findOutCharges }}</a><br>({{ openNewWindow }})</p>
      </li>
       
    </ul>
  </div>
</details>