<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ contactUsForHelp }}
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list contact-us">
      <li>
        <h4 class="govuk-heading-s">{{ webChat }}</h4>
        <p class="govuk-body">{{ webChatDetails }}</p>
      </li>

      <li>
        <h4 class="govuk-heading-s">{{ sendUsAMessage }}</h4>
        <a class="govuk-link" href="mailto:{{ contactEmail }}">{{ sendUsAMessage }}</a>
        <p class="govuk-body">{{ sendUsAMessageDetails }}</p>
      </li>

      <li>
        <h4 class="govuk-heading-s">{{ telephone }}</h4>
        <p class="govuk-body">{{ telephoneNumber }}</p>
        <p class="govuk-body">{{ telephoneDetails }}</p>
      </li>
    </ul>
  </div>
</details>
