<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ contactUsForHelp }}
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list contact-us">
      <li>
        <p class="govuk-body">{{ contactUs1 |safe }}</p>
        <p class="govuk-body">{{ contactUs2 }}</p>
      </li>
      <li>
        <h4 class="govuk-heading-s">{{ feedBack }}</h4>
        <p class="govuk-body">{{ contactUs3 |safe}}</p>
        <p class="govuk-body">{{ contactUs4 }}</p>
      </li>
       
    </ul>
  </div>
</details>
