<meta
  name="hmrc-timeout-dialog"
  content="hmrc-timeout-dialog"
  data-timeout="600"
  data-countdown="580"
  data-keep-alive-url="/keep-alive"
  data-sign-out-url="/receiver"
  data-language="{{ htmlLang }}"
  data-synchronise-tabs="true"
/>
