<meta
  name="hmrc-timeout-dialog"
  content="hmrc-timeout-dialog"
  data-timeout="120"
  data-countdown="60"
  data-keep-alive-url="/keep-alive"
  data-sign-out-url="/signed-out"
  data-language="{{ htmlLang }}"
  data-synchronise-tabs="true"
/>
