{% for banner in banners %}
{% set html %}
  {% if banner.bannerHeading %}
    <p class="govuk-notification-banner__heading">
      {{ banner.bannerHeading }}
      {% if banner.bannerHeadingLink %}
      <a class="govuk-notification-banner__link" href={{ banner.bannerHeadingLink }}>{{banner.bannerHeadingLinkText}}</a>.
      {% endif %}
    </p>
  {% endif %}

  {% for content in banner.bannerContent %}
    <p class="govuk-notification-banner__content">{{ content.line1 }}</p>
    <p class="govuk-notification-banner__content">{{ content.line2 }}</p>
  {% endfor %}

  {% for link in banner.bannerLinks %}
    <a class="govuk-notification-banner__link" href={{ link.href }}>{{link.text}}</a>.
  {% endfor %}
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
{% endfor %}
