{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% extends "govuk/template.njk" %}

{% block head %}
  <!-- Google Tag Manager -->

  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer'
          ? '&l=' + l
          : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f
        .parentNode
        .insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NJCKLVT');
  </script>
  <!-- End Google Tag Manager -->

  {% include "./webpack/css.njk" %}
{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJCKLVT"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Dynatrace RUM Script -->
  <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/5b59108c720e8fa7_complete.js" crossorigin="anonymous"></script>
  <!-- End Dynatrace RUM Script -->
{% endblock %}

{% block header %}
  {% include "../cookie-banner/template.njk" %}
  {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: (globals.basePath if globals.basePath) + "/",
    navigation: [
      {
        href: "/logout" if isLoggedIn else "/",
        text: signOut if isLoggedIn
      }
    ]

  }) }}
{% endblock %}

{% block pageTitle %}
  {{ serviceName }} - {{ title }}
  {{appName}}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: inPageSurveyContent + languageToggle
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block backLink %}
        <a href="#" class="govuk-back-link">{{ back }}</a>
      {% endblock %}

      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      {% block page_content %}
        {% if title %}
          <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{ title }}</h1>
        {% endif %}

      {% endblock %}

      {% if form %}
        {% block form %}
          {% include "common/form/form.njk"%}
        {% endblock %}
      {% endif %}

      {% block page_content_under_form %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block page_safetyConcerns %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block page_contact_us %}
        {%if userCase.caseTypeOfApplication === "FL401" %}
          {% include "./contact-us.njk" %}
        {% else %}
          {% include "./contact-us-c100.njk" %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% if testingSupport %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: cookies
          },
          {
            href: "/privacy-policy",
            text: privacyPolicy
          },
          {
            href: "/accessibility-statement",
            text: accessibility
          },
          {
            href: "/terms-and-conditions",
            text: termsAndConditions
          },
          {
            href: "/testing-support",
            text: testingSupportLabel
          }
        ]
      }
    }) }}
  {% else %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: cookies
          },
          {
            href: "/privacy-policy",
            text: privacyPolicy
          },
          {
            href: "/accessibility-statement",
            text: accessibility
          },
          {
            href: "/terms-and-conditions",
            text: termsAndConditions
          }
        ]
      }
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "./webpack/js.njk" %}
{% endblock %}