{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "common/task-list/components/progress-bar/progress-bar.macro.njk" import buildProgressBar with context %}
{% from "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog %}

{% extends "govuk/template.njk" %}

{% block head %}
 <meta
          name="hmrc-timeout-dialog"
          content="hmrc-timeout-dialog"
          data-timeout="{{ timeout }}"
          data-countdown="{{ countdown }}"
          data-keep-alive-url="/keep-alive"
          data-sign-out-url="/receiver"
          data-title="{{ translations.title }}"
          data-message="{{ translations.message }}"
          data-keep-alive-button-text="{{ translations.keepAliveButton }}"
          data-sign-out-button-text="{{ translations.signOutButton }}"
          data-synchronise-tabs="true"
        />
  {% include "./webpack/css.njk" %}
  {% include "./views/includes/script-ga_tag_manager.njk" %}


{% endblock %}

{% block bodyStart %}
  {% include "./views/includes/script-ga_tag_manager_2.njk" %}
  {% include "./views/includes/script-dt_rum.njk" %}
{% endblock %}

{% block header %}
  {% include "../cookie-banner/template.njk" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: (globals.basePath if globals.basePath) + "/",
    navigation: [
      {
        href: "/logout" if isLoggedIn else "/",
        text: signOut if isLoggedIn
      }
    ]

  }) }}


{% endblock %}

{% block pageTitle %}
  {{ serviceName }} - {{ title }}
  {{appName}}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: inPageSurveyContent + languageToggle
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    {% if c100CaseProgressTrainTrack.length %}
      <div class="govuk-grid-column-full govuk-!-padding-bottom-9">
        {{buildProgressBar(c100CaseProgressTrainTrack)}}
      </div>
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      {% block backLink %}
        <a href="#" class="govuk-back-link">{{ back }}</a>
      {% endblock %}

      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      {% block page_content %}
        {% if title %}
          <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{ title }}</h1>
        {% endif %}

      {% endblock %}

      {% if form %}
        {% block form %}
          {% include "common/form/form.njk"%}
        {% endblock %}
      {% endif %}

      {% block page_content_under_form %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block page_safetyConcerns %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block page_contact_us %}
        {% include "./contact-us.njk" %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% if testingSupport %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: cookies
          },
          {
            href: "/privacy-policy",
            text: privacyPolicy
          },
          {
            href: "/accessibility-statement",
            text: accessibility
          },
          {
            href: "/terms-and-conditions",
            text: termsAndConditions
          },
          {
            href: "/testing-support",
            text: testingSupportLabel
          }
        ]
      }
    }) }}
  {% else %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: cookies
          },
          {
            href: "/privacy-policy",
            text: privacyPolicy
          },
          {
            href: "/accessibility-statement",
            text: accessibility
          },
          {
            href: "/terms-and-conditions",
            text: termsAndConditions
          }
        ]
      }
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "./webpack/js.njk" %}
{% endblock %}
