{% extends "./page.njk" %}

{% block page_content %}
  {% if section %}
    <span class="govuk-heading-l">{{ section }}</span>
  {% endif %}
  {% if title %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{ title }}</h1>
  {% endif %}
  {% if title2 %}
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ title2 }}</h3>
  {% endif %}
  {% if line1 %}
    <div class="govuk-hint">{{ line1 }}</div>
  {% endif %}
  {% if line2 %}
    <p class="govuk-body">{{ line2 }}</p>
  {% endif %}
{% endblock %}
