{% extends "common/template.njk" %}
{% block page_content %}
<h1 class="govuk-heading-xl">{{title}}</h1>
<h1 class="govuk-label-wrapper"> <label class="govuk-label" for="parentalResponsibility"> {{subTitle}}</label></h1>
<div id="parentalResponsibility-hint" class="govuk-hint ">{{bodyHint | safe}}</div>
{% endblock %}