{% extends "common/page.njk" %}

{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
{% endblock %}

{% block page_content_under_form %}
    {% include "../../../../common/information-request.njk" %}
{% endblock %}