{% extends "common/form/form.njk"%}
{% block after_fields %}
  <div class="govuk-form-group">
    <p class="govuk-body">
      <a href="{{manualAddressUrl}}" id="enterAddressManually" class="govuk-link">{{ enterAddressManually }}</a>
    </p>
  </div>
{% endblock %}