
{% extends "common/template.njk" %}

{% block page_content %}
<h1 class="govuk-heading-xl">
           <span class="govuk-caption-l">{{section}}</span>
           {{title}}
</h1>
 <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
<p class="govuk-body">Case number #{{userCase.caseCode}}</p>
  </fieldset>
    </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<ol class="app-task-list">

        <li>

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                24 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Final_Order__Child2__24062021.pdf</a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                23 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Final_Order__Child1__23062021.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                21 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Non-molestationOrder.pdf</a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                27 May 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">OccupationOrder.pdf</a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                18 May 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">NoticeOfProceedings.pdf</a>
              </dd>
            </div>

          </dl>
        </li>
      </ol>
{% endblock %}