{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/progress-bar.njk" import progressBar with context %}

{% extends "common/tasklist/template.njk" %}
{% block caseDetails %}
{% endblock %}

{% block columnFull %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    {{respondentName}}
  </h1>
  <p class="govuk-body">{{caseNumber}}{{userCase.id}}</p>
</div>
{% endblock %}

{% block progressBar %}
  {{ progressBar(stages) }}
{% endblock %}

{% block notificationBanner %}
  {% include "../../common/notifyBanner.njk" %}
{% endblock %}
{% block oneThird %}
          <h2 class="govuk-heading-m">{{iWantTo}}</h2>
          <ul class="govuk-list">
          {% for hyperlink in hyperlinks %}
            <li>
              <a href="{{hyperlink.link}}" target="{{hyperlink.target}}" class="govuk-link">{{hyperlink.label}}</a>
              <div class="govuk-!-padding-bottom-2"></div>
            </li>
          {% endfor %}
          </ul class="govuk-list">
          {%if userCase.caseTypeOfApplication === "FL401" %}
            {% include "../../common/contact-us.njk" %}
            {% else %}
            {% include "../../common/contact-us-c100.njk" %}
          {% endif %}
{% endblock %}
