{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/progress-bar.njk" import progressBar with context %}

{% extends "common/tasklist/template.njk" %}
{% block caseDetails %}
{% endblock %}

{% block columnFull %}
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    {{respondentName}}
  </h1>
  <p class="govuk-body">Case number #{{userCase.id}}</p>
</div>
{% endblock %}

{% block progressBar %}
  {{ progressBar(stages) }}
{% endblock %}

{% block notificationBanner %}
  {% include "../../common/notifyBanner.njk" %}
{% endblock %}
{% block oneThird %}
      <h2 class="govuk-heading-m">
        I want to...
      </h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">{{findMyLocalCourt}}</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">{{findLegalAdvice}}</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">{{knowMoreAboutChildArrangements}}</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">{{knowMoreAboutAttendingCourt}}</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>
        {% include "../../common/contact-us.njk" %}
{% endblock %}
