{% extends "common/template.njk" %}


{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<h1 class="govuk-heading-m">{{ reasonForUrgentHearing }}</h1>
{% endblock %}