{% extends "common/template.njk" %}


{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{headingTitle}}</h1>
<p class="govuk-body-m">{{paragraph1}}</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7">
    <li>{{line1}}</li>
    <li>{{line2}}</li>
</ul>

<p class="govuk-body-m">
<a href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees/how-to-apply-for-help-with-fees-ex160a"
target='_blank' class="govuk-link">{{seeEligbilityHyperLink}}</a>
</p>

{% endblock %}