<p class="govuk-body-m">
 <a href="{{applyForAnInjunctionHyperLink}}" id={{applyForAnInjunctionLabel}} target="_blank" class="govuk-link">{{applyForAnInjunctionLabel}}</a>
 </br>
<a href="{{guidanceHelpHyperLink}}" id={{guidanceHelpLabel}} target="_blank" class="govuk-link">{{guidanceHelpLabel}}</a>
 </p>
 <h1 class="govuk-heading-m">{{ reportIncident }}</h1>
 <p class="govuk-body-m"> {{ emergencyCall }} </p>

 <p class="govuk-body-m">
 <a href="{{reportDomesticAbuseHyperLink}}" id="reportDomesticAbuseLabel" target="_blank" class="govuk-link">{{ reportDomesticAbuseLabel }}</a>
 </p>
 <h1 class="govuk-heading-m">{{ support }}</h1>
 <p class="govuk-body-m">
 <a href="{{legalOptionsWomenHyperLink}}" id="legalOptionsWomenLabel" target="_blank" class="govuk-link">{{ legalOptionsWomenLabel }}</a>
 </br>
 <a href="{{womensAidHyperLink}}" id="womensAidLabel" target="_blank" class="govuk-link">{{ womensAidLabel }}</a>
 </br>
 <a href="{{nationalDomesticViolenceHyperLink}}" id="nationalDomesticViolenceLabel" target="_blank" class="govuk-link">{{ nationalDomesticViolenceLabel }}</a>
 </br>
 <a href="{{mensAdviceLineHyperLink}}" id="mensAdviceLineLabel" target="_blank" class="govuk-link">{{ mensAdviceLineLabel }}</a>
 </p>