{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "common/summary/template.njk" %}
{% block page_content %}

{% if paymentError.hasError === true %}
  {{ govukErrorSummary({
    titleText: errors.paymentError.title,
    errorList: [
      {
        html: "<h2 class='govuk-heading-s hmcts-badge--red'>"+errors.paymentError[paymentError.errorContext]+"</h2>"
      }
    ]
  }) }}
{% endif %}

{% if section %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-50px">{{ section }}</h1>
  {% endif %}
  {% if title %}
    <span class="govuk-hint">{{ title }}</span>
  {% endif %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <p class="govuk-body">{{caseNumber}} {{userCase.id}}</p>
    </fieldset>
  </div>
  {% block page_contact_us %}
 {% endblock %}
{% endblock %}
