{% extends "common/summary/template.njk" %}
{% block page_content %}

{% if paymentError === true %}
  {{ govukErrorSummary({
    titleText: errors.paymentError.title,
    errorList: [
      {
        html: "<div class='govuk-heading-s hmcts-badge--red'>"+errors.paymentError.content+"</div>"
      }
    ]
  }) }}
{% endif %}

{% if section %}
    <span class="govuk-heading-xl govuk-!-margin-bottom-50px">{{ section }}</span>
  {% endif %}
  {% if title %}
    <h1 class="govuk-hint">{{ title }}</h1>
  {% endif %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <p class="govuk-body">{{caseNumber}} #{{userCase.id}}</p>
    </fieldset>
  </div>
  {% block page_contact_us %}
 {% endblock %}
{% endblock %}
