<div id="session-timeout-dialog" class="govuk-!-display-none">
  <div class="timeout-modal-overlay"></div>
  <div class="timeout-modal-content" role="dialog" aria-modal="true" aria-labelledby="dialog-title">
    <h2 id="dialog-title" class="govuk-heading-m govuk-!-font-size-27">You will be signed out soon</h2>
    <p class="govuk-body">For your security, we will sign you out in <span id="countdown-timer"></span> seconds.</p>

    <button id="keep-alive-button" class="govuk-button">Stay signed in</button>
    <a href="{{ SESSION_TIMEOUT_URL }}" class="govuk-button govuk-button--secondary">Sign out now</a>
  </div>
</div>
