{% extends "common/template.njk" %}


{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ hwfGuidanceTitle }}</h1>

<p class="govuk-body-m">{{hwfApplyLinkHint1}} {{applyForHwfLink | safe}} {{hwfApplyLinkHint2}}</p>

<div class="govuk-inset-text">{{hwfGuidanceC100Hint}}</div>

<p class="govuk-body-m">{{hwfGuidanceHint2}}</p>

{% endblock %}