{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
  <span class="govuk-caption-xl">{{caption}}</span>
  <h1 class="govuk-heading-l">{{title}}</h1>
  <p class="govuk-body-m">{{ emailText if contactPreference === 'email' else postText }}</p>

  {% if contactPreference === 'email' %}
    {{ govukWarningText({
    text: warningText,
    iconFallbackText: "Warning"
    }) }}
  {% endif %}

{% endblock %}