{% extends "common/template.njk" %}

{% block page_content %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{{ govukPanel({
  titleText: section,
  html: ""
}) }}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set html %}
  <h2 class="govuk-notification-banner__heading">{{text}}</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">{{ para1 }}</p>
  <p class="govuk-body govuk-!-margin-bottom-2">{{ para2 }}</p>
{% endset %}
{{ govukNotificationBanner({
  titleText: title,
  html:html
}) }}
  <div>
    <h2 class="govuk-notification-banner__heading">{{restrictedHeading}}</h2>
    <p class="govuk-body govuk-!-margin-bottom-9">{{ restrictedBody }}</p>
  </div>
  <br>
  <br>
  <div class="govuk-button-group">
  <form action="/document-manager/clearUploadDocumentFormData?_csrf={{ csrfToken }}&isApplicant=No&isContinue=Yes" method="post" novalidate="">

              <button class="govuk-button" data-module="govuk-button" value="Continue">
                {{continue}}
              </button>

            </form>
    <form action="/document-manager/clearUploadDocumentFormData?_csrf={{ csrfToken }}&isApplicant=No&isContinue=No" method="post">
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" value="Save and come back later">{{uploadAgain}}</button>
    </form>
  </div>
{% endblock %}