{% extends "common/template.njk" %}

{% block page_content %}

    <span class="govuk-caption-l">{{section}}</span>
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">{{line1}}</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7 govuk-!-margin-bottom-6">
        {{list1 |safe}}
    </ul>
    <p class="govuk-body">{{line2}}</p>

{% endblock %}