{% extends "common/template.njk" %}xw


{% block backLink %}{% endblock %}
{% block page_contact_us %}
{% endblock %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{headingTitle}}</h1>
{% endblock %}
