{% extends "common/template.njk" %}


{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{headingTitle}}</h1>
<div class="govuk-inset-text"> {{inset1}}<br/><br/>{{inset2}} </div>
<p class="govuk-body-m">{{detailsPara}}</p>
<p class="govuk-body-m">{{paragraph1}}</p>
<p class="govuk-body-m">{{paragraph2}}</p>
{% endblock %}
