{% extends "common/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block page_content %}
<span class="govuk-caption-l">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
{{ govukInsetText({
  html: insetHtml
}) }}
{% endblock %}
