{% extends "common/template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block page_content %}
<span class="govuk-caption-xl govuk-!-margin-top-7">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<p class="govuk-body-l">{{paragraph}}</p>

{% set detailsParagraph = ""%}

{% for item in detailsParagraphs %}
    {% set detailsParagraph = detailsParagraph + "<p>" + item + "</p>"%}
{% endfor %}

{% set detailsText = "<div class='govuk-body'>" + detailsParagraph + "</div>" %}

{{ govukDetails({
  summaryText: detailsSummary,
  text: detailsText  | safe
}) }}

{% endblock %}
