{% extends "common/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block page_content %}
<h1 class="govuk-heading-xl">{{pageTitle}} {{childDetails.firstname}}  {{childDetails.lastname}}  </h1>

 <form method="post" action="{{postURL}}">

                            {{ govukInput({
                            id: "csrfToken",
                            name: "_csrf",
                            type: "hidden",
                            value: csrfToken
                            }) }}

                        {% for error in sessionErrors %}

                        <div class=" {%- if error.propertyName === 'childDateOfBirth' or  error.propertyName === 'childDateOfBirthNotValid'  or  error.propertyName === 'childDateOfBirthNotValidSubField' or  error.propertyName === 'cannotHaveBothApproxAndExact'   %}  govuk-form-group--error  {% endif %}">
                        {% endfor %}
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><span class="govuk-fieldset__heading">{{label}}</span></legend>
                        <div id="child-dateOfBirth-hint" class="govuk-hint">{{hint}}</div>

                                    {%set errorTypeClassInput = ""%}
                                    {%set errorTypeClassInputSub = ""%}
                                    {% for error in sessionErrors %}
                                    {%- if error.propertyName == 'childDateOfBirth' %}
                                    <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error"><span class="govuk-visually-hidden">Error: </span>{{errors.childDateOfBirth.required}}</span>
                                     {%set errorTypeClassInput = " govuk-input--error"%}
                                    {% endif %}

                                    {%- if error.propertyName == 'cannotHaveBothApproxAndExact' %}
                                    <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error"><span class="govuk-visually-hidden">Error: </span>{{errors.cannotHaveBothApproxAndExact.required}}</span>
                                     {%set errorTypeClassInput = " govuk-input--error"%}
                                    {% endif %}


                                     {%- if error.propertyName == 'childDateOfBirthNotValid' %}
                                    <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error"><span class="govuk-visually-hidden">Error: </span>{{errors.childDateOfBirthNotValid.required}}</span>
                                    {%set errorTypeClassInput = " govuk-input--error"%}
                                    {% endif %}


                                    {% endfor %}

                           {{ govukDateInput({
                                id: "child-dateOfBirth",
                                namePrefix: "child-dateOfBirth",
                                fieldset: {
                                    legend: {
                                    text: "",
                                    isPageHeading: true,
                                    classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: [
                                        {
                                        name: "day",
                                        classes: "govuk-input--width-2" + errorTypeClassInput,
                                        autocomplete: "bday-day",
                                        attributes: {
                                                maxLength: 2, 
                                                pattern: '[0-9]*', 
                                                inputMode: 'numeric'
                                        },
                                        value: dob['day']
                                        
                                        },
                                        {
                                        name: "month",
                                        classes: "govuk-input--width-2" + errorTypeClassInput,
                                        autocomplete: "bday-month",
                                        attributes: {
                                                maxLength: 2, 
                                                pattern: '[0-9]*', 
                                                inputMode: 'numeric'
                                        },
                                        value: dob['month']
                                        },
                                        {
                                        name: "year",
                                        classes: "govuk-input--width-4" + errorTypeClassInput,
                                        attributes: {
                                                maxLength: 4, 
                                                pattern: '[0-9]*', 
                                                inputMode: 'numeric'
                                        },
                                        autocomplete: "bday-year",
                                        value: dob['year']
                                        }
                                    ]
                                }) }}
                                  {% for error in sessionErrors %}
                         {%- if  error.propertyName === 'cannotHaveBothApproxAndExact'  %}</div>  {% endif %}
                            {% endfor %}

                              <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden"></legend>
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                        {% if isDateOfBirthKnown === "Yes"%}
                                        <input id="steps-children-personal-details-form-dob-unknown-true-field" class="govuk-checkboxes__input" type="checkbox" value="true" name="steps_children_personal_details" aria-controls="steps-children-personal-details-form-dob-unknown-true-conditional" aria-expanded="true" checked>
                                        {%else%}
                                         <input id="steps-children-personal-details-form-dob-unknown-true-field" class="govuk-checkboxes__input" type="checkbox" value="true" name="steps_children_personal_details" aria-controls="steps-children-personal-details-form-dob-unknown-true-conditional" aria-expanded="false">
                                        {%endif%}
                                        <label for="steps-children-personal-details-form-dob-unknown-true-field" class="govuk-label govuk-checkboxes__label">{{approximateCheckboxLabel}}</label>
                                        </div>
                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="steps-children-personal-details-form-dob-unknown-true-conditional">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">   <h1 class="govuk-fieldset__heading">{{approximateDobLabel}}</h1></legend>
                                         
                                             {% for error in sessionErrors %}
                                            {%- if error.propertyName == 'childDateOfBirthNotValidSubField' %}
                                            <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error"><span class="govuk-visually-hidden">Error: </span>{{errors.childDateOfBirthNotValidSubField.required}}</span>
                                            {%set errorTypeClassInputSub = " govuk-input--error"%}
                                            {% endif %}

                                            {% endfor %}

                                             {{ govukDateInput({
                                                    id: "childDateOfBirthNotValidSubField",
                                                    namePrefix: "child-approx-dateOfBirth",
                                                    fieldset: {
                                                        legend: {
                                                        text: "",
                                                        isPageHeading: true,
                                                        classes: "govuk-fieldset__legend--s"
                                                        }
                                                    },
                                                    items: [
                                                            {
                                                            name: "day",
                                                            classes: "govuk-input--width-2 "+ errorTypeClassInputSub,
                                                            autocomplete: "bday-day",
                                                             attributes: {
                                                                    maxLength: 2, 
                                                                    pattern: '[0-9]*', 
                                                                    inputMode: 'numeric'
                                                            },
                                                            value: approxDOB['day']
                                                            },
                                                            {
                                                            name: "month",
                                                            classes: "govuk-input--width-2 " + errorTypeClassInputSub,
                                                            autocomplete: "bday-month",
                                                               attributes: {
                                                                    maxLength: 2, 
                                                                    pattern: '[0-9]*', 
                                                                    inputMode: 'numeric'
                                                            },
                                                            value: approxDOB['month']
                                                            },
                                                            {
                                                            name: "year",
                                                            classes: "govuk-input--width-4 " + errorTypeClassInputSub,
                                                            autocomplete: "bday-year",
                                                               attributes: {
                                                                    maxLength: 4, 
                                                                    pattern: '[0-9]*', 
                                                                    inputMode: 'numeric'
                                                            },
                                                            value: approxDOB['year']
                                                            }
                                                        ]
                                                    }) }}
                                        </div>
                                    </div>
                                </fieldset>
                                
                        {% for error in sessionErrors %}
                        {%- if error.propertyName == 'childDateOfBirth' or  error.propertyName == 'childDateOfBirthNotValid' or  error.propertyName == 'childDateOfBirthNotValidSubField' %}</div>  {% endif %}
                        {% endfor %}
                                </div>
                                
                                   {% for error in sessionErrors %}
                                    <div class=" {%- if error.propertyName == 'childSex' %} govuk-form-group--error  {% endif %}">
                                    {% endfor %}
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><span class="govuk-fieldset__heading">{{childSexLabel}}</span></legend>
                                  {% for error in sessionErrors %}
                                    {%- if error.propertyName == 'childSex' %}
                                    <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error"><span class="govuk-visually-hidden">Error: </span>{{errors.childSex.required}}</span>
                                    {% endif %}
                                      {% endfor %}

                               
                                {{ govukRadios({
                                    idPrefix: "childSex",
                                    name: "Sex",
                                    fieldset: {
                                        legend: {
                                        text: '',
                                        isPageHeading: true,
                                        classes: "govuk-fieldset__legend--m"
                                        }
                                    },
                                    items: childSex
                                    }) }}
                                  {% for error in sessionErrors %}
                                    {%- if error.propertyName == 'childSex' %}</div></div>  {% endif %}
                                    {% endfor %}  
                            
                            <div class="govuk-form-group">
                            <div class="govuk-button-group">
                                {{ govukButton({
                                    text: "Contiue"
                                    }) }}
                                {{ govukButton({
                                    text: "Save and come back later",
                                    classes: "govuk-button--secondary"
                                    }) }}   
                            </div>
                            </div>
                           
                </form>
{% endblock %}