{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}} for {{applicantName}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{headingTitle}}</h1>
<p class="govuk-body-m">{{paragraph1}}</p>
<p class="govuk-body-m">{{paragraph2}}</p>
{% endblock %}
