{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% macro buildNotificationBanners(notifications) %}
  {% for notification in notifications %}
    {% set html %}
    {% if notification.heading %}
      <p class="govuk-notification-banner__heading">
        {{ notification.heading }}
      </p>
    {% endif %}

    {% for content in notification.contents %}
      {% if content.html %}
        <p class="govuk-body govuk-!-margin-bottom-2">{{ content.html | safe }}</p>
        {%else%}
        <p class="govuk-body govuk-!-margin-bottom-2">{{ content.text }}</p>
      {% endif %}
    {% endfor %}

    {% if notification.links and notification.links.length > 0%}
      {% for link in notification.links %}
        <p class="govuk-notification-banner__heading">
          {% if link.external and link.external === true %}
            <a class="govuk-notification-banner__link" href={{ link.href }} target="_blank">{{link.text}}</a>
            {%else%}
            <a class="govuk-notification-banner__link" href={{ link.href }}>{{link.text}}</a>
          {% endif %}
        </p>
      {% endfor %}
    {% endif %}
    {% if notification.heading2 %}
      <p class="govuk-notification-banner__heading">
        {{ notification.heading2 }}
      </p>
    {% endif %}

    {% for content in notification.contents2 %}
      {% if content.html %}
        <p class="govuk-body govuk-!-margin-bottom-2">{{ content.html | safe }}</p>
        {%else%}
        <p class="govuk-body govuk-!-margin-bottom-2">{{ content.text }}</p>
      {% endif %}
    {% endfor %}

    {% if notification.links2 and notification.links2.length > 0%}
      {% for link in notification.links2 %}
        <p class="govuk-notification-banner__heading">
          {% if link.external and link.external === true %}
            <a class="govuk-notification-banner__link" href={{ link.href }} target="_blank">{{link.text}}</a>
            {%else%}
            <a class="govuk-notification-banner__link" href={{ link.href }}>{{link.text}}</a>
          {% endif %}
        </p>
      {% endfor %}
    {% endif %}
    {% endset %}

    {{ govukNotificationBanner({
      titleText: notification.title,
      html: html
    }) 
  }}
  {% endfor %}
{% endmacro %}