{% extends "common/template.njk" %}


{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-9">{{pageTitle}}</h1>
<p class="govuk-body-l">{{safetyConcerns}}</p>
<p class="govuk-body">{{giveDetails}}</p>
{% endblock %}
