{% extends "common/form/form.njk"%}
{% import "./customSummaryList/macro.njk" as govukSummaryList %}

{% block before_fields %}
  {% if sections %}
    {% for item in sections %}
    {% if item %}
        <h1 class="govuk-heading-m govuk-!-margin-top-7">{{item.title}}</h1>
        <p>{{item.help}}</p>
        {{ govukSummaryList.govukSummaryList({
          classes: 'govuk-!-margin-bottom-9 govuk-!-margin-top-0',
          rows: item.rows
        })
      }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
