{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% extends "../../common/dashboard-page.njk" %}

{% block backLink %}{% endblock %}

{% block content %}
  {% block page_content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
          {{additionalData.user.fullname}}{{subTitle}}
        </h1>

        <ul class="govuk-list">
          <li>
            <p class="govuk-body">{{dashboardDescriptionText}}</p>
          </li>
          <li>
            <h2 class="govuk-heading-m">{{applyCAHeading}}</h2>
          </li>
          <li>
            <p class="govuk-body">{{courtDecisionText}}</p>
          </li>
          {% if c100Rebuild %}
            <li>
              <a class="govuk-link" href="/task-list/applicant">{{newChildArrangementsLinkText}}</a>
            </li>
          {% endif %}
          <li>
            <h2 class="govuk-heading-m govuk-!-margin-top-5">{{linkCaseHeading}}</h2>
          </li>
          <li>
            <p class="govuk-body">{{pinInstructionsText}}</p>
          </li>
          <li>
            <a class="govuk-link" href="/pin-activation/enter-pin">{{pinActivateLinkText}}</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{injunctionHeading}}</h1>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/injunction-domestic-violence">{{newFamilyInjunctionLinkText}}</a>
          </li>
          <br>
          <li>
            {% call govukDetails({
              summaryText: familyInjunctionDetailText
              }) %}
              {{ familyInjunctionDetailContentText }}
            {% endcall %}
          </li>
        </ul>
      </div>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">{{draftApplicationTabHeading}}</h2>
    {% if cases.length %}
          {% for case in cases %}
            {{ govukSummaryList({
              card: {
                title: { text: case.caseTypeHeading + " " + case.caseNumber },
                actions: {
                  items: [
                    { href: case.actionUrl, text: case.actionText }
                  ]
                }
              },
              rows: [
                { key: { text: yourRoleLabel }, value: { text: case.role } },
                { key: { text: lastUpdateLabel }, value: { text: case.lastUpdate } },
                {
                  key: { text: statusLabel },
                  html: (govukTag({ text: case.status.text, classes: case.status.classes }) +
                    '<p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">' +
                    case.status.description + '</p>')
                }
              ]
            }) }}
          {% endfor %}
        {% else %}
          <p class="govuk-body">{{ noCase }}</p>
        {% endif %}

  {% endblock %}
{% endblock %}
