{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "../../common/dashboard-page.njk" %}

{% block backLink %}{% endblock %}

{% block content %}
  {% block page_content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
          {{additionalData.user.fullname}}{{subTitle}}
        </h1>

        <ul class="govuk-list">
          <li>
            <p class="govuk-body">{{dashboardDescriptionText}}</p>
          </li>
          <li>
            <h2 class="govuk-heading-m">{{applyCAHeading}}</h2>
          </li>
          <li>
            <p class="govuk-body">{{courtDecisionText}}</p>
          </li>
          {% if c100Rebuild %}
            <li>
              <a class="govuk-link" href="/task-list/applicant">{{newChildArrangementsLinkText}}</a>
            </li>
          {% endif %}
          <li>
            <h2 class="govuk-heading-m govuk-!-margin-top-5">{{linkCaseHeading}}</h2>
          </li>
          <li>
            <p class="govuk-body">{{pinInstructionsText}}</p>
          </li>
          <li>
            <a class="govuk-link" href="/pin-activation/enter-pin">{{pinActivateLinkText}}</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{injunctionHeading}}</h1>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/injunction-domestic-violence">{{newFamilyInjunctionLinkText}}</a>
          </li>
          <br>
          <li>
            {% call govukDetails({
              summaryText: familyInjunctionDetailText
              }) %}
              {{ familyInjunctionDetailContentText }}
            {% endcall %}
          </li>
        </ul>
      </div>
    </div>

    {% for caseState, tab in tabs %}
      <div class="dashboard-card govuk-!-margin-top-5" id="{{tab.id}}">
        <h2 class="govuk-heading-m dashboard-card__title">{{tab.heading}}</h2>

        {% if tab.body %}
          <p class="govuk-body">{{tab.body | safe}}</p>
        {% endif %}

        {% if tab.rows.length %}
          {{ govukTable({
              head: tab.head,
              rows: tab.rows
            }) }}
        {% endif %}
      </div>
    {% endfor %}
  {% endblock %}
{% endblock %}
