{% extends "common/template.njk" %}

{% block page_content %}

  <h1 class="govuk-heading-xl">{{title}}</h1>

  <p class="govuk-body-l">
    {{line1}}
  </p>

  <div class="govuk-inset-text">
    {{line2}}
  </div>

  <p class="govuk-body">
    {{line3}}</p>

  <p class="govuk-body">{{line4}}</p>

  <p class="govuk-body">
                  {{findOut |safe}}
               </p>

  <h2 class="govuk-heading-l">
    {{line5}}
  </h2>
  <p class="govuk-body">{{line6}}</p>
  <p class="govuk-body">{{line7}}</p>

  <p class="govuk-body">{{line8}}</p>
  <p class="govuk-body">{{cafcass |safe}}
              </p>
  <p class="govuk-body">{{line9}}</p>
  <p class="govuk-body">{{line10}}</p>
  <p class="govuk-body">{{line11}}</p>
  <p class="govuk-body">{{line12}}</p>

{% endblock %}