{% extends "common/template.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-top-7">{{title}}</h1>
<p class="govuk-body">{{paragraph1}}</p>
<p class="govuk-body">{{paragraph2}}</p>
<p class="govuk-body">{{paragraph3}}</p>

{{ govukWarningText({
  text: "Only ask for an urgent hearing if you have a good reason. 
  The court will only agree to an urgent hearing if they think the situation is critical.",
  iconFallbackText: "Warning"
}) }}

{% endblock %}

