{% extends "common/template.njk" %}


{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<p class="govuk-body">{{firstHearing}}</p>
<p class="govuk-body">{{immediateRisk}}</p>
<p class="govuk-body">{{urgentHearing}}</p>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    {{warning}}
  </strong>
</div> 
{% endblock %}

