
{% extends "common/template.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-form-group">
{% block page_content %}
<div class="govuk-form-group">
    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{caption}}</span>
        {{document_type}}
    </h1>
      {% if title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}
      <form action="/document-manager/generatePdf?_csrf={{ csrfToken }}&parentDocumentType={{caption}}&documentType={{document_type}}&isApplicant=No" method="post" novalidate="">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper"><label class="govuk-label" for="more-detail">
           {{textAreaDocUploadText1}}
           <li>{{textAreaDocUploadText2}}</li>
           <li>{{textAreaDocUploadText3}}</li>
         </label>
        </div>
      <textarea class="govuk-textarea" id="freeTextAreaForUpload" name="freeTextAreaForUpload" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>
      <button class="govuk-button upload-addnew govuk-button--secondary" data-module="govuk-button">
        {{add}}
      </button>

    </form>

</div>
<p class="govuk-body">{{uplodFileText1}}</p>
<p class="govuk-body govuk-!-margin-bottom-6">{{uplodFileText2}}</p>
<details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                {{uplodFileText3}}
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>{{uplodFileText4}}</li>
                <li>{{uplodFileText5}}</li>
                <li>{{uplodFileText6}}</li>
                <li>{{uplodFileText7}}</li>
                <li>{{uplodFileText8}}</li>
              </ol>
            </div>
</details>

 <div id="uploadGroup" tabindex="0" class="uploadGroup">
    <div class=" govuk-!-margin-bottom-3">
            <div class="govuk-form-group govuk-inset-text">
              <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-1">
                {{uploadFileHeading}}
              </label>
      <form action="/document-manager?_csrf={{ csrfToken }}&parentDocumentType={{caption}}&documentType={{document_type}}&isApplicant=No" method="post" enctype="multipart/form-data">
        {{ govukFileUpload({
          name: "files[]",
          attributes: {
            multiple: true,
            accept: "image/jpeg,image/tiff,image/jpg,image/bmp,image/png,image/tif,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          },
          label: {
            text: chooseFilePhoto
          },
          classes: "govuk-!-margin-bottom-4"
        }) }}
        {{ govukButton({
          text: upload,
          type: "submit", 
          classes: "govuk-button--secondary govuk-!-margin-bottom-0"
        }) }}
      </form>
      </div>
    </div>

    <h2 class="govuk-heading-s{% if userCase.respondentUploadFiles.length==0 %} hidden{% endif %}">{{ uploadFiles }}</h2>
    <ul id="filesUploadedList" class="govuk-list">
    <dl class="govuk-summary-list">
      {% for file in userCase.respondentUploadFiles %}  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
                {{ file.name }} 
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/document-manager/deleteDocument/{{file.id}}?_csrf={{ csrfToken }}&parentDocumentType={{caption}}&documentType={{document_type}}&isApplicant=No">
                  {{remove}}</span>
                </a>
              </dd>
            </div>
          {% endfor %}
      </dl>
    </ul> 
  </div>

 <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h3 class="govuk-heading-m">
                  {{statementOfTruth}}
                </h3>
              </legend>
              <div class="govuk-warning-text">
                 <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                 <strong class="govuk-warning-text__text">
                   <span class="govuk-warning-text__assistive">{{warning}}</span>
                   {{warningText}}

                 </strong>
               </div>
              

            </fieldset>
          </div>

{% endblock %}

 </div>  