{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block pageTitle %}
  {{ reasonsToNotSeeTheDocument }}
  {{ appName }}
{% endblock %}

{% block page_content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{ caption }}</span>
      {{reasonsToNotSeeTheDocument}}
</h1>
{% endblock %}