{% extends "common/template.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="govuk-inset-text">{{ miam }}</div>

  <h2 class="govuk-heading-m">{{ whatHappens }}</h2>
  <p class="govuk-body-m govuk-!-margin-bottom-0">{{ atMiam }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for miamItem in miamList %}
      <li>{{ miamItem }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body-m">{{ findAMediator | safe }}</p>

  <h2 class="govuk-heading-m">{{ whenDontHaveToAttend }}</h2>
  <p class="govuk-body-m">{{ dontHaveToAttend | safe }}</p>
  <p class="govuk-body-m">{{ ifExempt }}</p>

{% endblock %}