{% extends "common/tasklist/template.njk" %}
{% block caseDetails %}
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Your response will be shared with the other people in this case.
        </strong>
    </div>
{% endblock %}