{% extends "common/respondent-task-list/template.njk" %}
{% block backLink %}
<a class="govuk-back-link history-back-ignore" href="/task-list/respondent">{{ back }}</a>
{% endblock %}

{% block caseDetails %}
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">{{warning}}</span>
            {{yourResponse}}
        </strong>

    </div>
{% endblock %}
