{% extends "common/page.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <h2 class="govuk-heading-m">{{ email }}</h2>
  <p class="govuk-body">{{ emailAddress | safe }}</p>

{% endblock %}
