{% extends "common/template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {{ label }}
  {{ appName }}
{% endblock %}

{% block page_content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{ caption }}</span>
    {{ title }}
  </h1>
{% endblock %}