security:
  referrerPolicy: 'origin'
port: 3001
timeout: 30000
services:
  postcodeLookup:
    url: 'https://api.os.uk/search/places/v1'
    token: POSTCODE_TOKEN
  authProvider:
    url: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'
    microservice: 'prl_citizen_frontend'
    secret: 'NEED TO INSERT SECRET'
  idam:
    authorizationURL: 'https://idam-web-public.aat.platform.hmcts.net/login'
    tokenURL: 'https://idam-api.aat.platform.hmcts.net/o/token'
    clientID: 'prl-citizen-frontend'
    citizenClientSecret: 'NEED TO INSERT SECRET'
    cosApiClientSecret: 'NEED TO INSERT SECRET'
    systemUsername: 'dummy_user'
    systemPassword: 'dummy_password'
  citizen:
    uploadDocsEmail: UPLOAD_DOCUMENTS_EMAIL
  case:
    url: 'https://ccd-data-store-api-prl-ccd-definitions-pr-714.service.core-compute-preview.internal'
  cos:
    url: 'https://prl-cos-pr-725.service.core-compute-preview.internal'
  documentManagement:
    url: 'https://ccd-case-document-am-api-prl-ccd-definitions-pr-714.service.core-compute-preview.internal'
health:
  timeout: 5000
  deadline: 15000
session:
  secret: 'local'
  redis:
    host:
    key:
  secureCookie: 'true'
e2e:
  userTestPassword: ''
appInsights:
  instrumentationKey: false
payments:
  url: 'http://prl-cos-demo.service.core-compute-demo.internal'

uploadTimeout: 60000
featureToggles:
  c100Rebuild: C100_REBUILD_FLAG
  launchDarklyKey: LAUNCH_DARKLY_SDK_KEY

launchDarkly:
  offline: false
