
{% extends "common/template.njk" %}
{% block page_content %}
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ section }}</span>
    {{ title }}</h1>
  <p class="govuk-body-m">{{ suggestionLabel_1 }} </p>
  <p class="govuk-body-m">{{ suggestionLabel_2 }} </p>
  <p class="govuk-body-m">{{ suggestionLabel_3 }} </p>
{% endblock %}