{% extends "common/template.njk" %}
{% block page_content %}

<form method="post">

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">{{ title }}</h1>
    </legend>

    <div class="govuk-body-m govuk-!-margin-bottom-6">
      <p>{{ writtenAgreementDetails }}</p>
      <p>{{ approvalDetails }}</p>
      <a href="https://helpwithchildarrangements.service.justice.gov.uk/" class="govuk-link govuk-body-m" rel="external" target="_blank">{{ findOut }}</a>
    </div>

    {{ govukRadios({
      classes: form.fields.sq_writtenAgreement.classes,
      idPrefix: "sq_writtenAgreement",
      name: "sq_writtenAgreement",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-visually-hidden"
        }
      },
      items: formItems(form.fields.sq_writtenAgreement.values, userCase.sq_writtenAgreement),
      errorMessage: getError("sq_writtenAgreement")
    }) }}

</form>

{% endblock %}
