{% extends "common/template.njk" %}
{% block page_content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<p class="govuk-label">{{writtenAgreementDetails}}</p>
<p class="govuk-label">{{approvalDetails}}</p><br/>
<a href="https://helpwithchildarrangements.service.justice.gov.uk/" class="govuk-link govuk-body-m" rel="external" target="_blank">{{findOut}}</a><br/><br/><br/>
{% endblock %}
