{% extends "common/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_content %}
<h1 class="govuk-heading-xl">{{pageTitle}}</h1>

{{ govukInsetText({
  text: subTitle
}) }}

<form method="post" action="{{ formaction }}" type="submit">
<input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
{% for child in listedChildern %}
 
         {% call govukFieldset({
  legend: {
    text: "Child "+ loop.index,
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      text: 'First name(s)'
    },
    id: "firstname-",
    name: "firstname-" + loop.index,
    value: child['firstname'],
    autocomplete: "firstname-" + loop.index,
    classes: "govuk-input govuk-!-width-one-half"
  }) }}


  {{ govukInput({
    label: {
      text: 'Last name(s)'
    },
    id: "lastname-" ,
    name: "lastname-" + loop.index,
    value: child['lastname'],
    autocomplete:"lastname-" + loop.index,
    classes: "govuk-input govuk-!-width-one-half"
  }) }}

  <input type="hidden" name="_cid-{{loop.index}}" id="cid-{{loop.index}}" value="{{ child.id }}">

  {{ govukButton({
  text: "Remove child "+ loop.index,
  classes: "govuk-button--warning",
   attributes: {
            formaction: "?action=removeChild&childId=" +child.id
        }
}) }}


{% endcall %}

{% endfor %}

    {% call govukFieldset({
  legend: {
    text: "Enter a new name",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}
    
                      


<div>
    {% for error in sessionErrors %}
    {%- if  error.propertyName === 'firstname-1'  %}<div class="govuk-form-group--error">  {% endif %}
    {% endfor %}
<label class="govuk-label" for="firstname-1">{{firstName}} </label>
<div id="firstname-1-hint" class="govuk-hint">{{firstNameHint}}</div>
     
         {% for error in sessionErrors %}
    {%- if  error.propertyName === 'firstname-1'  %}
         <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error">
    <span class="govuk-visually-hidden">Error: </span>{{errors['firstname-1'].required}}</span>
     {% endif %}
    {% endfor %}



  {{ govukInput({
    id: "firstname-1",
    name: "firstname-"+(listedChildern.length+1),
    autocomplete: "firstname-"+(listedChildern.length+1),
    classes: "govuk-input govuk-!-width-one-half",
    value: tempFormData['TempFirstName']
  }) }}

    {% for error in sessionErrors %}
    {%- if  error.propertyName === 'firstname-1'  %}</div>  {% endif %}
    {% endfor %}
</div>


<div>
     {% for error in sessionErrors %}
    {%- if  error.propertyName === 'lastname-1'  %}<div class="govuk-form-group--error">  {% endif %}
    {% endfor %}
  <label class="govuk-label" for="firstname-1">{{lastName}} </label>
     {% for error in sessionErrors %}
    {%- if  error.propertyName === 'lastname-1'  %}
         <span class="govuk-error-message" id="steps-children-parental-responsibility-form-parental-responsibility-error">
    <span class="govuk-visually-hidden">Error: </span>{{errors['lastname-1'].required}}</span>
     {% endif %}
    {% endfor %}
  {{ govukInput({
    id: "lastname-1",
    name: "lastname-"+(listedChildern.length+1),
    autocomplete: "lastname-"+(listedChildern.length+1),
    classes: "govuk-input govuk-!-width-one-half",
    value: tempFormData['TempLastName']
  }) }}
      {% for error in sessionErrors %}
    {%- if  error.propertyName === 'lastname-1'  %}</div>  {% endif %}
    {% endfor %}
  </div>
  {{ govukButton({
  text: "Add another child",
  classes: "govuk-button--secondary",
     attributes: {
            formaction: "?action=addChild"
        }
}) }}
{% endcall %}

 {{ govukButton({
  text: "Continue",
  classes: "govuk-buttons",
   attributes: {
            formaction: "?action=continue"
        }
}) }}
 {{ govukButton({
  text: "Save and come back later",
  classes: "govuk-button--secondary govuk-!-margin-left-2",
  attributes: {
            formaction: "?action=continue"
        }
}) }}
 
</form>

{% endblock %}
