{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl">{{title}}</h1>
<h2 class="govuk-heading-l">{{subTitle}}</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{address}}
    </dt>
    <dd class="govuk-summary-list__value">
      {# {{addresses}} #}
      {%for address in addresses%}
        <p class="govuk-body">{{address | safe}}</p>
      {%endfor%}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{changeAddressLink}}">
        {{change}}<span class="govuk-visually-hidden"> {{addressLowerCase}}</span>
      </a>
    </dd>
  </div>
</dl>

{% for item in textList %}
  <p class="govuk-body">{{item | safe}}</p>
{% endfor %}

{{ govukWarningText({
  text: warningText,
  iconFallbackText: "Warning"
}) }}


{% endblock %}