Html Webpack Plugin:
<pre>
  TypeError: Cannot read properties of undefined (reading 'substr')
  
  - loader.js:4 eval
    [css-template.njk?.]/[html-webpack-plugin]/lib/loader.js:4:42
  
  - loader.js:7 module.exports
    [css-template.njk?.]/[html-webpack-plugin]/lib/loader.js:7:3
  
  - index.js:450 
    [prl-citizen-frontend]/[html-webpack-plugin]/index.js:450:16
  
  - async Promise.all
  
</pre>