{% extends "common/form/form.njk"%}

{% block before_fields %}
  <label class="govuk-label govuk-label--m">{{ postcode }}</label>
  <div class="govuk-form-group float-left">
    <p class="govuk-body govuk-!-font-size-19">{{ adddressPostCode }}</p>
    <p class="govuk-body">
      <a href="{{changePostCodeUrl}}" data-link="resetPostCodeLookup" class="govuk-link govuk-!-font-size-19" aria-label="{{ changePostCodeLabel }} {{ postcode }}">{{ changePostCodeLabel}}</a>
    </p>
  </div>
{% endblock %}

{% block after_fields %}
  <div class="govuk-form-group">
    <p class="govuk-body">
      <a href="{{cantFindAddressUrl}}" id="cannotFindAddress" class="govuk-link">{{ cannotFindAddress }}</a>
    </p>
  </div>
{% endblock %}