
{% extends "common/template.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block page_content %}

<div>
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    </main>

</div>

{% endblock %}