{% extends "common/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block page_content %}

<h2 class="govuk-heading-xl">{{title}}</h2>
{% set html %}
  <h2 class="govuk-notification-banner__heading">{{confirmationText}}</h2>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}
<h2 class="app-task-list__section govuk-heading-l">{{secondaryTitle}}</h2>
{%if userCase.miam_certificate and userCase.miam_certificate  !== undefined %}
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        {{userCase.miam_certificate.filename}}
      </dt>
    </div>
  </dl>
{%endif%}
{% endblock %}
