{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-l">{{title}}</h1>
<p class="govuk-body-m">{{text}}</p>

{{ govukWarningText({
  text: "If you cannot find the emails in your inbox, check your 'spam' folder.",
  iconFallbackText: "Warning"
}) }}

{% endblock %}