{% extends "common/summary/template.njk" %}
{% block page_content %}
{% if title %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-50px">{{ title }}</h1>
  {% endif %}
  {% if subTitle %}
    <h2 class="govuk-heading-l">{{ subTitle }}</h2>
  {% endif %}
{% endblock %}