
{% extends "common/template.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
<a href="/respondent/keep-details-private/details_known" class="govuk-link">Keep-your-details-private</a>
<a href="/respondent/confirmcontactdetails/checkanswers" class="govuk-link">confirm-or-edit-your-contact-details</a>
<a href="/respondent/miam/miam-start" class="govuk-link">miam</a>
{% endblock %}
