
{% extends "common/template.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
<a href="/respondent/keep-details-private/details_known" class="govuk-link">Keep-your-details-private</a>
{% endblock %}
