{% extends "common/page.njk" %}
{% from "common/breadcrumb/breadcrumb.macro.njk" import appBreadcrumb with context %}

{% macro taskName(item) %}
  <span class="app-task-list__task-name">
    {% if item.href %}
      <a id="{{item.id}}" class="govuk-link" href="{{item.href}}" aria-describedby="{{item.id}}-status">
        {{item.text}}
      </a>
    {% else %}
      <p id="{{item.id}}" class="govuk-body govuk-!-margin-bottom-0" aria-describedby="{{item.id}}-status">
        {{item.text}}
      </p>
    {% endif %}
  </span>
{% endmacro %}


{% macro taskListItem(item) %}
  {% if item.id %}
    <li class="app-task-list__item">
      {{ taskName(item) }}
    </li>
  {% else %}
    <p class="govuk-!-font-weight-bold govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{item.text}}</p>
  {% endif %}
{% endmacro %}

{% macro taskListSection(section, index) %}
  <li>
    <h2 class="app-task-list__section">
      {{section.title}}
    </h2>
    <ul class="app-task-list__items">
      {% for item in section.items %}
        {{ taskListItem(item) }}
      {% endfor %}
    </ul>
  </li>
{% endmacro %}

{% block content %}
  <div class="govuk-grid-column-full"></div>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      {{appBreadcrumb(breadcrumbs)}}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
         <span class="govuk-caption-l">{{ section }}</span>
        {{title}}
      </h1>

      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
      <p class="govuk-body govuk-!-margin-bottom-8">{{note}}</p>

      <ol class="app-task-list">
        {% for section in sections %}
          {{ taskListSection(section, loop.index) }}
        {% endfor %}
      </ol>
      <div class="govuk-button-group">
        <form action="/document-manager/redirectToCaseView?_csrf={{ csrfToken }}" method="post" novalidate="">
          <button class="govuk-button" data-module="govuk-button" value="Continue">
            {{ continue }}
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
        {%if userCase.caseTypeOfApplication === "FL401" %}
        {% include "../contact-us.njk" %}
        {% else %}
        {% include "../contact-us-c100.njk" %}
        {% endif %}
    </div>

  </div>
{% endblock %}