{% extends "common/template.njk" %}

{% block page_content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ title }}</h1>

<p class="govuk-body-l">{{caption}}</p>

{% for line in lines %}
    <p class="govuk-body">{{line}}</p>
{% endfor %}

{% endblock %}
