
{% extends "common/template.njk" %}

{% block page_content %}


               <h1 class="govuk-heading-xl">{{title}}</h1>

               <p class="govuk-body-l">
                 {{line1}}
               </p>

               <div class="govuk-inset-text">
                 {{line2}}
               </div>

               <p class="govuk-body">
                 {{line3}}</p>

                 <p class="govuk-body">{{line4}}</p>



               <p class="govuk-body">
                 Find out about the
                 <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/" class="govuk-link" rel="external" target="_blank">signs
                   of child abuse</a> and
                 <a href="https://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/" class="govuk-link" rel="external" target="_blank">domestic
                   abuse</a>.
               </p>

               <h2 class="govuk-heading-l">
                 {{line5}}
               </h2>
               <p class="govuk-body">{{line6}}</p>
               <p class="govuk-body">{{line7}}</p>

                <p>{{line8}}</p>
               <p class="govuk-body">The <a href="https://www.cafcass.gov.uk/" class="govuk-link" rel="external" target="_blank">Children and Family Court Advisory and Support Service (Cafcass)</a> in England, and <a href="https://cafcass.gov.wales/" class="govuk-link" rel="external" target="_blank">Cafcass Cymru</a> in Wales protects the interests of children involved in family court cases.
              </p><p class="govuk-body">{{line9}}</p>
               <p class="govuk-body">{{line10}}</p>
               <p class="govuk-body">{{line11}}</p>
               <p class="govuk-body">{{line12}}</p>


{% endblock %}
