
{% extends "common/template.njk" %}

{% block page_content %}


               <h1 class="govuk-heading-xl">Safety concerns</h1>

               <p class="govuk-body-l">
                 The court needs to know if anyone who spends time with the children poses a risk to their safety or yours.
               </p>

               <div class="govuk-inset-text">
                 We use ‘children’ as a general term to avoid repetition. In this service it applies to whether it is about a child
                 or children.
               </div>

               <p class="govuk-body">
                 The questions in this section will determine if you or the children have experienced - or are at risk of experiencing - any form of harm.</p>

                 <p class="govuk-body">Harm to a child means ill treatment, or damage to their health or development. This could include damage suffered from seeing another person being harmed.</p>



               <p class="govuk-body">
                 Find out about the
                 <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/" class="govuk-link" rel="external" target="_blank">signs
                   of child abuse</a> and
                 <a href="https://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/" class="govuk-link" rel="external" target="_blank">domestic
                   abuse</a>.
               </p>

               <h2 class="govuk-heading-l">
                 Why do we need this information and what will we do with it?
               </h2>
               <p class="govuk-body">The court needs to know if any of the other people in this application, or anyone connected to them who has contact with the children, poses a risk to the safety of the children.</p>
               <p class="govuk-body">If you can provide this information now, it will make it easier for the court and support services to make sure your case is handled correctly.</p>

                <p>If you don't want to provide details of the abuse right now, you will be able to do so when you speak to the Children and Family Court Advisory Support Service (Cafcass).</p>
               <p class="govuk-body">The <a href="https://www.cafcass.gov.uk/" class="govuk-link" rel="external" target="_blank">Children and Family Court Advisory and Support Service (Cafcass)</a> in England, and <a href="https://cafcass.gov.wales/" class="govuk-link" rel="external" target="_blank">Cafcass Cymru</a> in Wales protects the interests of children involved in family court cases.
              </p><p class="govuk-body">An advisor from Cafcass or Cafcass Cymru will look at your answers during safeguarding checks, and may need to ask you some more questions.</p>
               <p class="govuk-body">As part of this process they will get in touch with organisations such as the police and local authorities, for any information about you, the other people in the case and the children.</p>
               <p class="govuk-body">They will provide this information to the court before your first hearing. The judge will take their assessment into account when deciding what is best for the children.</p>
               <p class="govuk-body">The information you provide in this section will also be shared with the applicant, so they can respond to what you have said.</p>


{% endblock %}
