{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{section}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
<div class="govuk-inset-text"> {{needMoreDetails1}}<br/><br/>{{needMoreDetails2}} </div>

{% endblock %}