{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{section}}</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{title}}</h1>
<p class="govuk-body"> {{needMoreDetails1}}</p>
<h1 class="govuk-heading-m govuk-!-margin-bottom-3">{{subTitle}}</h1>
{% endblock %}