{% extends "common/template.njk" %}

{% block page_content %}
  <span class="govuk-caption-l">{{ caption }}</span>
  {% if title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}
  <p class="govuk-body-m">{{ line1 }}<p>
  <p class="govuk-body-m">{{ line2 }}<p>
  <p class="govuk-body-m govuk-!-padding-bottom-6">{{ line3 }}<p>
{% endblock %}