{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
  {% if section %}
    <span class="govuk-caption-l">{{ section }}</span>
  {% endif %}
  <h1 class="govuk-heading-xl">{{title}}</h1>
  <p class="govuk-body">{{paragraph}}</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
    {% for item in bulletPoints %}
      <li>{{ item | safe}}</li>
    {% endfor %}
  </ul>

  {{ govukWarningText(getContent(warningText)) }}

{% endblock %}