
{% extends "common/template.njk" %}

{% block page_content %}

         <span class="govuk-caption-xl">{{section}}</span>
         <h1 class="govuk-heading-xl">{{title}}</h1>
         <div>
         <p class="govuk-body">{{line1}}</p>
         <p class="govuk-body">{{line2}}</p>

         <p class="govuk-body"><a href="https://www.refuge.org.uk/get-help-now/recognising-abuse/" class="govuk-link" rel="external">{{line3}}</a></p>
         </div>

{% endblock %}

{% block page_content_under_form %}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="applicant abuse info">
              {{summery1}}
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">{{summery2}}</p>
            <p class="govuk-body">{{summery3}}</p>
            <p class="govuk-body">{{summery4 |safe}}</p>
            <p class="govuk-body">{{summery5}}</p>
            <p class="govuk-body">{{summery6}}</p>
            <p class="govuk-body">{{summery7}}</p>
          </div>
        </details>

{% endblock %}
        
