
{% extends "common/template.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/fileupload/macro.njk" import fileUpload %}

<div class="govuk-form-group">
{% block page_content %}
<div class="govuk-form-group">
      {% if title %}
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">{{caption}} #{{userCase.id}}</span>
          {{ title }}</h1>
      {% endif %}
</div>

{{ fileUpload(
        {
          uploadButtonText: upload,
          fileuploadTitle: '',
          fileuploadTitleClass: "govuk-!-font-weight-bold",
          formPostURL: "/document-manager?_csrf={{ csrfToken }}&isApplicant=Yes&isSos=Yes",
          fileUploadedHint: uplodFileText1,
          sessionFilesArray: true,
          sessionFiles: userCase.applicantUploadFiles,
          uploadFileHeader: uploadFileHeading,
          sessionNullFilesMessage: noFilesUploaded,
          removeText: remove,
          csrfToken: csrfToken
        }
      ) }}
{% endblock %}
 </div>
