{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: field.id if field.id else fieldName,
  namePrefix: fieldName,
  fieldset: {
    legend: {
      text: getContent(field.label),
      classes: "hidden" if field.labelHidden else "govuk-fieldset__legend--l",
      isPageHeading: true if not title
    }
  },
  hint: {
    html: getContent(field.hint)
  },
  items: formItems(field.values, userCase[fieldName]),
  errorMessage: getError(fieldName),
  formGroup: {
    classes: "hidden " + field.id if field.hidden else field.id
  }
}) }}
