{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: field.id if field.id else fieldName,
  name: fieldName,
  type: field.type,
  classes: field.classes,
  label: {
    text: getContent(field.label),
    classes: "govuk-visually-hidden" if field.labelHidden else ("govuk-hint" if field.labelAsHint else labelClasses)
  },
  hint: {
    html: getContent(field.hint)
  } if field.hint else undefined,
  value: field.value if field.value !== undefined else userCase[fieldName],
  attributes: field.attributes,
  errorMessage: null if field.hideError else getError(fieldName),
  formGroup: {
    classes: "hidden " + field.id if field.hidden else field.id
  }
}) }}
