{% extends "common/template.njk" %}

{% block page_content %}

  <span class="govuk-caption-xl">{{section}}</span>
  <h1 class="govuk-heading-xl">{{title}}</h1>
  <div class="govuk-inset-text">{{line1}}</div>
  <p class="govuk-body">{{line2}}</p>
  <p class="govuk-body">{{line3}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{line4}}</li>
    <li>{{line5}}</li>
    <li>{{line6}}</li>
  </ul>

  <p class="govuk-body">{{line7}}</p>

  <p class="govuk-body">{{line8}}</p>

  <p class="govuk-body">{{line9}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{line10}}</li>
    <li>{{line11}}</li>
    <li>{{line12}}</li>
    <li>{{line13}}</li>
    <li>{{line14}}</li>
  </ul>
  <p class="govuk-body">{{line15}}</p>

{% endblock %}
{% block page_content_under_form %}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="applicant abuse info">
              {{summery1}}
            </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">{{summery2}}</p>
      <p class="govuk-body">{{summery3}}</p>
      <p class="govuk-body">{{summery4 |safe}}</p>
      <p class="govuk-body">{{summery5}}</p>
      <p class="govuk-body">{{summery6}}</p>
      <p class="govuk-body">{{summery7}}</p>
    </div>
  </details>

{% endblock %}