{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl">{{title}}</h1>
<p class="govuk-body-m">{{text}}</p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      {{userEmail}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/applicant/confirm-contact-details/contactdetails">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
</dl>

{{ govukWarningText({
  text: warningText,
  iconFallbackText: "Warning"
}) }}

{% endblock %}