
{% extends "common/template.njk" %}

{% block page_content %}
  <span class="govuk-caption-l">{{ caption }}</span>
  {% if title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}

  <p class="govuk-body govuk-!-margin-bottom-2">{{ applyBefore }}</p>
  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">{{ nextSteps }}</h3>
  <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-8">
    {% for item in listItems %}
      <li>{{item | safe}}</li>
    {% endfor %}
  </ol>

{% endblock %}
