{% extends "common/template.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
{% block page_content %}
 {% block backLink %}
      <a href="#" class="govuk-back-link">{{ back }}</a>
    {% endblock %}

<h1 class="govuk-heading-xl govuk-!-margin-top-5">{{title}}</h1>
{{ govukWarningText({
  text: topWarning,
  iconFallbackText: "Warning"
}) }}
<p class="govuk-body-l">{{makingSure}}</p>


{% endblock %}

{% block form %}
  {% include "./form.njk"%}
{% endblock %}


{% block page_contact_us %}
 {% endblock %}
  {% endblock %}