{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ thisPage | safe }}</p>

  <h2 class="govuk-heading-m">{{ termsAndConditionsUsers }}</h2>
  <p class="govuk-body">{{ termsAndConditionsProfessional }}</p>

  <h2 class="govuk-heading-m">{{ whoWeAre }}</h2>
  <p class="govuk-body">{{ managedBy }}</p>

  <h2 class="govuk-heading-m">{{ info }}</h2>
  <p class="govuk-body">{{ service }}</p>

  <h2 class="govuk-heading-m">{{ stored }}</h2>
  <p class="govuk-body">{{ dataStored | safe }}</p>

  <h2 class="govuk-heading-m">{{ applicationLaw }}</h2>
  <p class="govuk-body">{{ dispute }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ dispute1 }}</li>
    <li>{{ dispute2 }}</li>
    <li>{{ dispute3 }}</li>
    <li>{{ dispute4 }}</li>
    <li>{{ dispute5 }}</li>
  </ul>

  <h2 class="govuk-heading-m">{{ responsible }}</h2>
  <p class="govuk-body">{{ risks }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ precautions1 }}</li>
    <li>{{ precautions2 }}</li>
    <li>{{ precautions3 }}</li>
  </ul>
  <p class="govuk-body">{{ knowinglyIntroducing }}</p>

  <h3 class="govuk-heading-s">{{ personallySensitiveInformation }}</h3>
  <p class="govuk-body">{{ containsSeveral }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ religiousBeliefs }}</li>
    <li>{{ sexualOrientation }}</li>
    <li>{{ racialOrigins }}</li>
    <li>{{ politicalOpinions }}</li>
    <li>{{ philosophicalBeliefs }}</li>
    <li>{{ tradeMembership }}</li>
    <li>{{ geneticData }}</li>
    <li>{{ healthData }}</li>
  </ul>
  <p class="govuk-body">{{ consentGiven | safe }}</p>

  <h2 class="govuk-heading-m">{{ disclaimer }}</h2>
  <p class="govuk-body">{{ disclaimerGuarantee }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ current }}</li>
    <li>{{ secure }}</li>
    <li>{{ accurate }}</li>
    <li>{{ complete }}</li>
    <li>{{ bugFree }}</li>
  </ul>
  <p class="govuk-body">{{ advice }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ losses }}</li>
    <li>{{ civilWrongs }}</li>
    <li>{{ serviceUse }}</li>
    <li>{{ inabilityToUse }}</li>
  </ul>
  <p class="govuk-body">{{ damageForeseeable }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ income }}</li>
    <li>{{ salary }}</li>
    <li>{{ business }}</li>
    <li>{{ profits }}</li>
    <li>{{ opportunity }}</li>
    <li>{{ anticipatedSavings }}</li>
    <li>{{ data }}</li>
    <li>{{ goodwill }}</li>
    <li>{{ tangibleProperty }}</li>
    <li>{{ intangibleProperty }}</li>
    <li>{{ wastedTime }}</li>
  </ul>

  <p class="govuk-body">{{ liable }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ death }}</li>
    <li>{{ fraudulentMisrepresentation }}</li>
    <li>{{ anyOtherLiability }}</li>
  </ul>

  <p class="govuk-body">{{ contactUsFurtherInfo | safe }}</p>
{% endblock %}
