{% extends "common/form/form.njk"%}
{% extends "common/template.njk" %}

{% block after_fields %}
  <label class="govuk-label govuk-label--m">postcodeline1</label>
  <div class="govuk-form-group float-left">
    <p class="govuk-body govuk-!-font-size-19">postcodeline2</p>
    <p class="govuk-body">
      <a href="changePostCodeUrl" data-link="resetPostCodeLookup" class="govuk-link govuk-!-font-size-19" aria-label="change postcode">change</a>
    </p>
  </div>
{% endblock %}
