{% extends "common/template.njk" %}

{% block page_content %}

    <span class="govuk-caption-l">{{section}}</span>
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">If your case goes to a hearing, it can take place either: </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7 govuk-!-margin-bottom-6">
        <li>in person, in a room at a venue ('face-to-face')</li>
        <li>by video (where you can join from a place suitable to you)</li>
        <li>by phone</li>
    </ul>
    <p class="govuk-body">Some hearings use a combination of these methods. The approach taken will be decided by a judge.</p>

{% endblock %}