{% extends "common/template.njk" %}
{% block page_content %}
<span class="govuk-caption-l">{{caption}}</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{title}}</h1>
      <div class="govuk-inset-text">
            <p class="govuk-body-m">{{line1}}</p>  
            <p class="govuk-body-m">{{line2}}</p>  
      </div>
<p class="govuk-body-m">{{paragraph1}}</p>
<p class="govuk-body-m">{{paragraph2}}</p>
{% endblock %}