{% extends "common/template.njk" %}

{% block page_content %}
      <h1 class="govuk-heading-l">
            <span class="govuk-caption-m">{{caption}}</span>
            {{title}}</h1>
      <p class="govuk-body">{{content1}}</p>
      <p class="govuk-body">{{content2}}</p>
{% endblock %}