{% extends "common/template.njk" %}

{% block page_content %}
<span class="govuk-caption-xl">{{caption}}</span>
<h1 class="govuk-heading-xl">{{title}}</h1>
<p class="govuk-body-m">{{text}}</p>


{% endblock %}