{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set cookieMessageHTML %}
  <p class="govuk-body">{{ cookiesLine1 }}</p>
  <p class="govuk-body">{{ cookiesLine2 }}</p>
{% endset %}

    {% set acceptHtml %}
  <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectHtml %}
  <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  classes: 'cookie-banner',
  ariaLabel: cookiesHeading + " " + serviceName,
  hidden: true,
  messages: [
    {
      classes: 'cookie-banner-message',
      headingText: cookiesHeading + " " + serviceName,
      html: cookieMessageHTML,
      actions: [
      {
        classes: 'cookie-banner-accept-button',
        text: acceptAnalyticsCookies,
        type: "button"
      },
      {
         classes: 'cookie-banner-reject-button',
        text: rejectAnalyticsCookies,
        type: "button"
      },
       {
                text: viewCookies,
        href: "/cookies"
      }
    ]
    },
    {
      classes: 'cookie-banner-accept-message',
      html: acceptHtml,
      role: "alert",
      hidden: true,
      actions: [
      {
        classes: 'cookie-banner-hide-button',
        text: hideMessage
      }
    ]
    },
    {
      classes: 'cookie-banner-reject-message',
      html: rejectHtml,
      role: "alert",
      hidden: true,
      actions: [
      {
        classes: 'cookie-banner-hide-button',
        text: hideMessage
      }
    ]
        }
  ]
}) }}