{% extends "common/template.njk" %}

{% block page_content %}

  <span class="govuk-caption-l">{{caption}}</span>
  <h1 class="govuk-heading-xl">{{title}}</h1>
  <p class="govuk-body">{{ paragraph }}</p>
  <p class="govuk-body">{{ bulletHeading }}</p>

  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6 ">
      {% for bullet in bulletPoints %}
              <li class="govuk-!-margin-bottom-4">{{ bullet | safe }}</li>
      {% endfor %}
  </ul>

  {% for paragraph in paragraphs %}
    <p class="govuk-body govuk-!-margin-bottom-6 govuk-!-margin-top-8">{{ paragraph | safe }}</p>
  {% endfor %}


{% endblock %}