{% extends "common/template.njk" %}

{% block page_content %}

    <span class="govuk-caption-l">{{section}}</span>
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">{{warning}}</span>
                   {{warningText}}
            </strong>
    </div>
    <p class="govuk-heading-s">{{safetyConcernsText}}</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7 govuk-!-margin-bottom-6">
        <li>{{safetyConcernsBullet1}}</li>
        <li>{{safetyConcernsBullet2}}</li>
    </ul>

{% endblock %}