
{% extends "common/template.njk" %}

{% block page_content %}
    <div class="govuk-form-group">
    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">{{caption}}</span>
        {{document_type}}
    </h1>
   <div class=" govuk-!-margin-bottom-3">
  {% if section %}
    <span class="govuk-heading-l">{{ section }}</span>
   {% endif %}
            <div class="govuk-warning-text govuk-!-margin-bottom-4">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text govuk-!-margin-bottom-4">
                <span class="govuk-warning-text__assistive">Warning</span>
                When you upload a document, it will  be shared with the other people in the case.
              </strong>

              <p class="govuk-body govuk-!-margin-left-7">If there is information that should not be shared, remove it from the document. If this is not possible, do not upload the document. Instead, you can ask  the court to restrict who can see the document. </p>

              <p class="govuk-body govuk-!-margin-left-7">The court will only agree to restrict who can see the document if:</p>

              <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7 govuk-!-margin-bottom-6">
                <li>there is a good reason not to share the document, for example safety concerns</li>
                <li>the document is not something the judge needs to see</li>
                <li>an address that needs to be kept private is included in the document</li>
              </ul>
              <p class="govuk-body govuk-!-margin-left-7">If you want the court to restrict who can see a document, email: [email address tbc]</p>
                <p class="govuk-body govuk-!-margin-left-7">You must say why the document should be restricted.</p>

            </div>

            </div>
    </div>
{% endblock %}
