{% extends "common/template.njk" %}

{% block pageTitle %}
  {{ section }} {{ appName }}
{% endblock %}

{% block page_content %}
  {% if section %}
    <span class="govuk-heading-l">{{ section }}</span>
  {% endif %}
  <h3 class="govuk-heading-m">{{ removingDetails }}</h3>
  <p class="govuk-body">{{ documentSharedLine1 }}</p>
  <p class="govuk-body">{{ documentSharedLine2 }}</p>
  <h3 class="govuk-heading-m">{{ restrictDocument }}</h3>
  <p class="govuk-body">{{ documentSharedLine3 }}</p>

  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
    {% for item in restrictItems %} 
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endblock %}
